Repository SixLabors/ImageSharp, pull requests merged in 2018-08, with the labels that each got.

#616 EXIF Support for PNG's
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ProfileResolver.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Jpeg/JpegEncoderCore.cs
  src/ImageSharp/Formats/Png/PngChunkType.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  src/ImageSharp/MetaData/Profiles/Exif/ExifConstants.cs
  src/ImageSharp/MetaData/Profiles/Exif/ExifProfile.cs
  src/ImageSharp/MetaData/Profiles/Exif/ExifReader.cs
  src/ImageSharp/MetaData/Profiles/Exif/ExifWriter.cs
  src/ImageSharp/MetaData/Profiles/ICC/IccProfile.cs
  tests/ImageSharp.Sandbox46/ImageSharp.Sandbox46.csproj
  tests/ImageSharp.Tests/Formats/Png/PngChunkTypeTests.cs
  tests/ImageSharp.Tests/ImageSharp.Tests.csproj
  tests/ImageSharp.Tests/MetaData/ImageMetaDataTests.cs
  tests/ImageSharp.Tests/MetaData/Profiles/Exif/ExifProfileTests.cs
  tests/ImageSharp.Tests/Processing/Processors/Transforms/AutoOrientTests.cs
Labels: area:formats:png, area:metadata:exif

#671 Use span directly for DetectFormat
  src/ImageSharp/Image.FromBytes.cs
Labels: enhancement

#676 Fix 1 bit bmp decoding and add extra test images.
  src/ImageSharp/Formats/Bmp/BmpDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Bmp/pal1.bmp
  tests/Images/Input/Bmp/pal1p1.bmp
  tests/Images/Input/Bmp/pal4.bmp
Labels: area:formats:bmp, bug
