Repository SixLabors/ImageSharp, pull requests merged in 2018-09, with the labels that each got.

#689 Use in where appropriate.
  src/ImageSharp/ColorSpaces/Conversion/ColorSpaceConverter.CieLchuv.cs
  src/ImageSharp/Formats/Jpeg/Components/Block8x8F.CopyTo.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromCmyk.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromGrayScale.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromRgb.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromYCbCrBasic.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromYCbCrSimd.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromYCbCrSimdAvx2.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromYccK.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegBlockPostProcessor.cs
  src/ImageSharp/MetaData/Profiles/ICC/DataWriter/IccDataWriter.Matrix.cs
  src/ImageSharp/Processing/Processors/Convolution/Convolution2PassProcessor.cs
Labels: area:performance

#686 Ext.DrawImage generalization to support multiple formats. (Experimental)
  src/ImageSharp.Drawing/Processing/DrawImageExtensions.cs
  src/ImageSharp.Drawing/Processing/Processors/Drawing/DrawImageProcessor.cs
  src/ImageSharp/PixelFormats/PixelBlenders/DefaultPixelBlenders.Generated.cs
  src/ImageSharp/PixelFormats/PixelBlenders/DefaultPixelBlenders.Generated.tt
  src/ImageSharp/PixelFormats/PixelBlenders/PorterDuffFunctions.Generated.cs
  src/ImageSharp/PixelFormats/PixelBlenders/PorterDuffFunctions.Generated.tt
  src/ImageSharp/PixelFormats/PixelBlenders/PorterDuffFunctions.cs
  src/ImageSharp/PixelFormats/PixelBlender{TPixel}.cs
  tests/ImageSharp.Tests/PixelFormats/PixelOperationsTests.Blender.cs
Labels: area:drawing, enhancement

#712 Add 1, 2, and 4 bit Png Encoding
  src/ImageSharp/Formats/Png/IPngEncoderOptions.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoder.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  src/ImageSharp/Formats/Png/PngScanlineProcessor.cs
  src/ImageSharp/Processing/Processors/Quantization/QuantizedFrame{TPixel}.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.cs
  tests/ImageSharp.Tests/TestUtilities/ReferenceCodecs/MagickReferenceDecoder.cs
  tests/ImageSharp.Tests/TestUtilities/Tests/MagickReferenceCodecTests.cs
Labels: area:formats:png, enhancement
