Repository SixLabors/ImageSharp, pull requests merged in 2019-03, with the labels that each got.

#848 Implement IEquatable<Block8x8F> and check when summing.
  src/ImageSharp/Formats/Jpeg/Components/Block8x8F.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/QualityEvaluator.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.MetaData.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/Issue845-Incorrect-Quality99.jpg
Labels: area:bug, area:formats:jpeg

#851 Png Decoder Bounds check. Fix #849
  src/ImageSharp/Formats/Png/Zlib/ZlibInflateStream.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/zlib-overflow.png
Labels: area:bug, area:formats:png

#853 #852 Adding instructions to add submodules when cloning the repository
  README.md
Labels: area:documentation

#855 Updating some readonly static data in JpegEncoderCore to take advantage of compiler functionality.
  src/ImageSharp/Common/Extensions/StreamExtensions.cs
  src/ImageSharp/Formats/Jpeg/JpegEncoderCore.cs
Labels: area:formats:jpeg, area:performance

#863 Remove Enum Comparison Boxing
  src/ImageSharp/Formats/Gif/GifEncoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
Labels: area:performance
