Repository SixLabors/ImageSharp, pull requests merged in 2019-06, with the labels that each got.

#924 Prevent zigzag overflow. Fix #922
  Directory.Build.props
  src/ImageSharp/Formats/Jpeg/Components/Decoder/HuffmanScanBuffer.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/HuffmanScanDecoder.cs
  src/ImageSharp/Formats/Jpeg/Components/ZigZag.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Images.cs
  tests/ImageSharp.Tests/Formats/Jpg/ZigZagTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/fuzz/Issue922-AccessViolationException.jpg
Labels: area:bug, area:formats:jpeg

#927 Feature: Bitmap RLE undefined pixel handling
  src/ImageSharp/Formats/Bmp/BmpDecoder.cs
  src/ImageSharp/Formats/Bmp/BmpDecoderCore.cs
  src/ImageSharp/Formats/Bmp/BmpEncoderCore.cs
  src/ImageSharp/Formats/Bmp/BmpImageFormatDetector.cs
  src/ImageSharp/Formats/Bmp/IBmpDecoderOptions.cs
  src/ImageSharp/Formats/Bmp/RleSkippedPixelHandling.cs
  tests/ImageSharp.Tests/FileTestBase.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpDecoderTests.cs
  tests/ImageSharp.Tests/ProfilingBenchmarks/JpegProfilingBenchmarks.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Bmp/invalidPaletteSize.bmp
  tests/Images/Input/Bmp/pal4rlecut.bmp
  tests/Images/Input/Bmp/pal4rletrns.bmp
  tests/Images/Input/Bmp/pal8oversizepal.bmp
  tests/Images/Input/Bmp/pal8rlecut.bmp
  tests/Images/Input/Bmp/pal8rletrns.bmp
  tests/Images/Input/Bmp/rgb24jpeg.bmp
  tests/Images/Input/Bmp/rgb24largepal.bmp
  tests/Images/Input/Bmp/rgb24png.bmp
  tests/Images/Input/Bmp/rgb32h52.bmp
  tests/Images/Input/Bmp/rgba32v4.bmp
  tests/Images/Input/Bmp/rle4-delta-320x240.bmp
  tests/Images/Input/Bmp/rle8-blank-160x120.bmp
  tests/Images/Input/Bmp/rle8-delta-320x240.bmp
Labels: area:formats:bmp

#930 Bitmap decoder now can decode bitmap arrays
  src/ImageSharp/Formats/Bmp/BmpArrayFileHeader.cs
  src/ImageSharp/Formats/Bmp/BmpDecoderCore.cs
  src/ImageSharp/Formats/Bmp/BmpFileHeader.cs
  src/ImageSharp/Formats/Bmp/BmpImageFormatDetector.cs
  src/ImageSharp/Formats/Bmp/BmpInfoHeader.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpMetaDataTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Bmp/9S.BMP
  tests/Images/Input/Bmp/DIAMOND.BMP
  tests/Images/Input/Bmp/GMARBLE.BMP
  tests/Images/Input/Bmp/PINES.BMP
  tests/Images/Input/Bmp/SKATER.BMP
  tests/Images/Input/Bmp/SPADE.BMP
  tests/Images/Input/Bmp/SUNFLOW.BMP
  tests/Images/Input/Bmp/WARPD.BMP
Labels: area:enhancement, area:formats:bmp
