Repository SixLabors/ImageSharp, pull requests merged in 2019-09, with the labels that each got.

#1001 Fix RGB to HSL conversion
  src/ImageSharp/ColorSpaces/Conversion/Implementation/Converters/HslAndRgbConverter.cs
  tests/ImageSharp.Tests/Colorspaces/Conversion/RgbAndHslConversionTest.cs
Labels: area:bug, area:colorspaces

#981 use SUPPORTS_EXTENDED_INTRINSICS to filter out some BasicIntrinsics25…
  src/ImageSharp/Common/Helpers/SimdUtils.BasicIntrinsics256.cs
Labels: area:codequality

#1003 Fix #999 and add tests
  src/ImageSharp/Processing/Extensions/ResizeExtensions.cs
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeHelper.cs
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeProcessor.cs
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeProcessor{TPixel}.cs
  src/ImageSharp/Processing/ResizeMode.cs
  src/ImageSharp/Processing/ResizeOptions.cs
  tests/ImageSharp.Tests/Processing/Processors/Transforms/ResizeHelperTests.cs
  tests/ImageSharp.Tests/Processing/Transforms/PadTest.cs
  tests/ImageSharp.Tests/Processing/Transforms/ResizeTests.cs
  tests/ImageSharp.Tests/xunit.runner.json
Labels: area:bug, area:transforms

#1005 Fix #1004
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/Zlib/ZlibInflateStream.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/zlib-ztxt-bad-header.png
Labels: area:bug, area:formats:png

#978 ExifTagDescriptionAttribute doesnt need fields
  src/ImageSharp/MetaData/Profiles/Exif/ExifTagDescriptionAttribute.cs
Labels: area:api, area:metadata:exif

#1009 Refactor IDisposable pattern
  src/ImageSharp/IImage.cs
  src/ImageSharp/Image.cs
  src/ImageSharp/ImageExtensions.cs
  src/ImageSharp/ImageFrame.cs
  src/ImageSharp/ImageFrame{TPixel}.cs
  src/ImageSharp/Image{TPixel}.cs
  src/ImageSharp/Processing/Processors/CloningImageProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/ImageProcessor{TPixel}.cs
Labels: area:api

#1010 Expose visitor through advanced namespace.
  src/ImageSharp.Drawing/Processing/Processors/Drawing/DrawImageProcessor.cs
  src/ImageSharp/Advanced/AdvancedImageExtensions.cs
  src/ImageSharp/Advanced/IImageVisitor.cs
  src/ImageSharp/Image.cs
  src/ImageSharp/Image{TPixel}.cs
  src/ImageSharp/Processing/Extensions/ProcessingExtensions.cs
  src/ImageSharp/Processing/Processors/ImageProcessorExtensions.cs
Labels: area:api
