Repository SixLabors/ImageSharp, pull requests merged in 2019-02, with the labels that each got.

#819 Respecting fileHeader Offset, skipping bytes if necessary
  src/ImageSharp/Formats/Bmp/BmpDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Bmp/pal8offs.bmp
Labels: area:bug, area:formats:bmp

#833 Allow Build with Visual Studio For Mac
  src/ImageSharp.Drawing/ImageSharp.Drawing.csproj
  src/ImageSharp/ImageSharp.csproj
  tests/ImageSharp.Tests/ImageSharp.Tests.csproj
Labels: area:build

#841 Lazily derive the huffman tables. Fix #839
  src/ImageSharp/Formats/Jpeg/Components/Decoder/FastACTable.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/FastACTables.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/HuffmanTable.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/HuffmanTables.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ScanDecoder.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Images.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/fuzz/Issue839-ExecutionEngineException.jpg
Labels: area:bug, area:formats:jpeg
