Repository SixLabors/ImageSharp, pull requests merged in 2020-11, with the labels that each got.

#1415 Fix JpegDecoderTests.Decode_IsCancellable
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
Labels: unit tests

#1409 3 <==> 4 Channel Shuffling with Hardware Intrinsics
  src/ImageSharp/Common/Helpers/Shuffle/IComponentShuffle.cs
  src/ImageSharp/Common/Helpers/Shuffle/IPad3Shuffle4.cs
  src/ImageSharp/Common/Helpers/Shuffle/IShuffle3.cs
  src/ImageSharp/Common/Helpers/Shuffle/IShuffle4Slice3.cs
  src/ImageSharp/Common/Helpers/SimdUtils.HwIntrinsics.cs
  src/ImageSharp/Common/Helpers/SimdUtils.Shuffle.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/Argb32.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/Bgr24.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/Bgra32.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/Rgb24.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/Rgba32.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/_Common.ttinclude
  src/ImageSharp/PixelFormats/Utils/PixelConverter.cs
  tests/ImageSharp.Benchmarks/Color/Bulk/FromVector4.cs
  tests/ImageSharp.Benchmarks/Color/Bulk/FromVector4_Rgb24.cs
  tests/ImageSharp.Benchmarks/Color/Bulk/Pad3Shuffle4Channel.cs
  tests/ImageSharp.Benchmarks/Color/Bulk/Shuffle3Channel.cs
  tests/ImageSharp.Benchmarks/Color/Bulk/Shuffle4Slice3Channel.cs
  tests/ImageSharp.Benchmarks/Color/Bulk/ShuffleByte4Channel.cs
  tests/ImageSharp.Benchmarks/Color/Bulk/ShuffleFloat4Channel.cs
  tests/ImageSharp.Benchmarks/Color/Bulk/ToVector4_Rgb24.cs
  tests/ImageSharp.Tests/Common/SimdUtilsTests.Shuffle.cs
  tests/ImageSharp.Tests/Common/SimdUtilsTests.cs
Labels: area:performance

#1428 Use bulk conversion in Write8BitColor
  src/ImageSharp/Formats/Bmp/BmpEncoderCore.cs
Labels: area:performance, formats:bmp

#1431 Use GetPixelRowSpan to access pixel data in Histogram equalization
  src/ImageSharp/Processing/Processors/Normalization/AdaptiveHistogramEqualizationProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Normalization/GlobalHistogramEqualizationProcessor{TPixel}.cs
  tests/ImageSharp.Benchmarks/Processing/HistogramEqualization.cs
Labels: bug

#1435 PixelOperations<TPixel>.From<RgbaVector> speedup
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/RgbaVector.PixelOperations.cs
Labels: area:performance, area:pixelformats

#1434 Enable resize tests on MacOs
  .gitignore
  tests/ImageSharp.Tests/Processing/Processors/Transforms/ResizeTests.cs
  tests/ImageSharp.Tests/TestUtilities/TestEnvironment.cs
Labels: platform:macos, unit tests

#1388 Pixel remapping/Swizzling
  src/ImageSharp/Processing/Extensions/Transforms/SwizzleExtensions.cs
  src/ImageSharp/Processing/Processors/Transforms/ISwizzler.cs
  src/ImageSharp/Processing/Processors/Transforms/SwizzleProcessor{TSwizzler,TPixel}.cs
  src/ImageSharp/Processing/Processors/Transforms/SwizzleProcessor{TSwizzler}.cs
  tests/ImageSharp.Tests/Processing/Processors/Transforms/SwizzleTests.cs
  tests/ImageSharp.Tests/Processing/Transforms/SwizzleTests.cs
Labels: area:transforms, enhancement

#1444 Reduce code duplication due to reified generics
  src/ImageSharp/Processing/Processors/Convolution/BokehBlurProcessor.cs
  src/ImageSharp/Processing/Processors/Convolution/BokehBlurProcessor{TPixel}.cs
Labels: area:aot, area:performance, codequality

#1443 Ensure Span length of source and destination are equal during pixel conversion
  src/ImageSharp/Formats/Bmp/BmpEncoderCore.cs
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/Generated/Argb32.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/Generated/Bgr24.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/Generated/Bgra32.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/Generated/Bgra5551.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/Generated/L16.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/Generated/L8.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/Generated/La16.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/Generated/La32.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/Generated/Rgb24.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/Generated/Rgb48.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/Generated/Rgba32.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/Generated/Rgba64.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/Generated/_Common.ttinclude
Labels: bug, formats:bmp

#1445 Remove low hanging allocation fruit.
  src/ImageSharp/Formats/WebP/BitReader/Vp8BitReader.cs
  src/ImageSharp/Formats/WebP/Lossless/WebPLosslessDecoder.cs
  src/ImageSharp/Formats/WebP/Lossy/LossyUtils.cs
  src/ImageSharp/Formats/WebP/Lossy/WebPLossyDecoder.cs
  src/ImageSharp/Formats/WebP/WebPCommonUtils.cs
  src/ImageSharp/Formats/WebP/WebPLookupTables.cs
  tests/ImageSharp.Benchmarks/Codecs/DecodeWebp.cs
  tests/ImageSharp.Tests/Formats/WebP/WebPDecoderTests.cs
Labels: formats:webp
