Repository SixLabors/ImageSharp, pull requests merged in 2020-01, with the labels that each got.

#1069 EXIF - Post review fixes
  src/ImageSharp/Metadata/Profiles/Exif/Tags/ExifTag.SignedRational.cs
  src/ImageSharp/Metadata/Profiles/Exif/Values/ExifValues.cs
Labels: area:bug, area:metadata:exif

#1072 Speed up tga decoding and add new benchmark comparison
  Directory.Build.targets
  src/ImageSharp/Formats/Tga/TgaDecoderCore.cs
  src/ImageSharp/Image.FromBytes.cs
  tests/ImageSharp.Benchmarks/Codecs/DecodeTga.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/DecodeJpeg_ImageSpecific.cs
  tests/ImageSharp.Benchmarks/Codecs/MultiImageBenchmarkBase.cs
  tests/ImageSharp.Benchmarks/Config.cs
  tests/ImageSharp.Benchmarks/ImageSharp.Benchmarks.csproj
Labels: area:formats:tga, area:performance

#1074 Enumerate once on clone. Fix #1073
  src/ImageSharp/ImageFrameCollection.cs
  src/ImageSharp/Image{TPixel}.cs
  src/ImageSharp/Processing/Processors/CloningImageProcessor{TPixel}.cs
Labels: area:bug, area:memory

#1085 Fix build number
  GitVersion.yml
Labels: area:build

#1089 Harden memory-intensive tests, repurpose Sandbox46
  .github/workflows/build-and-test.yml
  .gitignore
  Directory.Build.props
  ImageSharp.sln
  README.md
  ci-build.ps1
  ci-pack.ps1
  tests/Directory.Build.props
  tests/Directory.Build.targets
  tests/ImageSharp.Sandbox46/README.md
  tests/ImageSharp.Tests.ProfilingSandbox/ImageSharp.Tests.ProfilingSandbox.csproj
  tests/ImageSharp.Tests.ProfilingSandbox/Program.cs
  tests/ImageSharp.Tests.ProfilingSandbox/README.md
  tests/ImageSharp.Tests.ProfilingSandbox/app.config
  tests/ImageSharp.Tests/AssemblyInfo.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Baseline.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Progressive.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/ImageSharp.Tests.csproj
  tests/ImageSharp.Tests/Memory/Alocators/ArrayPoolMemoryAllocatorTests.cs
  tests/ImageSharp.Tests/PixelFormats/PixelBlenders/PorterDuffFunctionsTests_TPixel.cs
  tests/ImageSharp.Tests/PixelFormats/PixelOperations/PixelOperationsTests.cs
  tests/ImageSharp.Tests/Processing/Processors/Convolution/BokehBlurTest.cs
  tests/ImageSharp.Tests/TestUtilities/Attributes/WithMemberFactoryAttribute.cs
  tests/ImageSharp.Tests/TestUtilities/BasicSerializer.cs
  tests/ImageSharp.Tests/TestUtilities/ImageProviders/LambdaProvider.cs
  tests/ImageSharp.Tests/TestUtilities/ImageProviders/MemberMethodProvider.cs
  tests/ImageSharp.Tests/TestUtilities/ImageProviders/TestImageProvider.cs
  tests/ImageSharp.Tests/TestUtilities/TestEnvironment.cs
  tests/ImageSharp.Tests/TestUtilities/TestPixel.cs
  tests/ImageSharp.Tests/TestUtilities/Tests/BasicSerializerTests.cs
Labels: area:memory, unit tests

#1093 Update Exif LensInfo
  src/ImageSharp/Metadata/Profiles/Exif/ExifTags.cs
  src/ImageSharp/Metadata/Profiles/Exif/Tags/ExifTag.Rational.cs
  src/ImageSharp/Metadata/Profiles/Exif/Tags/ExifTag.RationalArray.cs
  src/ImageSharp/Metadata/Profiles/Exif/Tags/ExifTagValue.cs
  src/ImageSharp/Metadata/Profiles/Exif/Values/ExifValues.cs
  tests/ImageSharp.Tests/Metadata/Profiles/Exif/Values/ExifValuesTests.cs
Labels: area:bug, area:metadata:exif

#1068 OilPaintingProcessor memory usage improvements
  src/ImageSharp/Processing/Processors/Effects/OilPaintingProcessor{TPixel}.cs
Labels: area:performance

#1019 Allow inferring of some PngEncoderOptions
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoderOptionsHelpers.cs
  src/ImageSharp/Formats/Png/PngMetadata.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.cs
  tests/ImageSharp.Tests/TestUtilities/PixelTypes.cs
Labels: area:enhancement, area:formats:png

#1095 Expose Pixel Operations and Configuration
  README.md
  src/ImageSharp/Advanced/AdvancedImageExtensions.cs
  src/ImageSharp/Advanced/AotCompilerTools.cs
  src/ImageSharp/Advanced/IConfigurable.cs
  src/ImageSharp/Advanced/IConfigurationProvider.cs
  src/ImageSharp/Configuration.cs
  src/ImageSharp/Formats/Gif/GifEncoder.cs
  src/ImageSharp/Formats/Gif/GifEncoderCore.cs
  src/ImageSharp/Formats/Jpeg/Components/Encoder/YCbCrForwardConverter{TPixel}.cs
  src/ImageSharp/Image.cs
  src/ImageSharp/ImageFrame.cs
  src/ImageSharp/ImageFrame{TPixel}.cs
  src/ImageSharp/Image{TPixel}.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/Argb32.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/Bgr24.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/Bgra32.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/Bgra5551.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/L16.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/L8.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/La16.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/La32.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/Rgb24.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/Rgb48.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/Rgba32.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/Rgba64.PixelOperations.Generated.cs
  src/ImageSharp/PixelFormats/PixelImplementations/Generated/_Common.ttinclude
  src/ImageSharp/PixelFormats/PixelImplementations/Rgba32.PixelOperations.cs
  src/ImageSharp/PixelFormats/PixelImplementations/RgbaVector.PixelOperations.cs
  src/ImageSharp/PixelFormats/PixelOperations{TPixel}.Generated.cs
  src/ImageSharp/PixelFormats/PixelOperations{TPixel}.Generated.tt
  src/ImageSharp/PixelFormats/PixelOperations{TPixel}.cs
  src/ImageSharp/Processing/Processors/Overlays/BackgroundColorProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Overlays/GlowProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Overlays/VignetteProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/FrameQuantizer{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/OctreeFrameQuantizer{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/OctreeQuantizer.cs
  src/ImageSharp/Processing/Processors/Quantization/PaletteFrameQuantizer{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/PaletteQuantizer.cs
  src/ImageSharp/Processing/Processors/Quantization/WuFrameQuantizer{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/WuQuantizer.cs
  tests/ImageSharp.Tests/TestUtilities/ImageComparison/ExactImageComparer.cs
  tests/ImageSharp.Tests/TestUtilities/ImageComparison/TolerantImageComparer.cs
Labels: area:api

#1096 Rename Pixel Shader Extensions and Delegates
  src/ImageSharp/Processing/Extensions/Effects/PixelRowDelegateExtensions.cs
  src/ImageSharp/Processing/Extensions/Effects/PixelShaderExtensions.cs
  src/ImageSharp/Processing/PixelRowOperation.cs
  src/ImageSharp/Processing/PixelShader.cs
  src/ImageSharp/Processing/PositionAwarePixelShader.cs
  src/ImageSharp/Processing/Processors/Effects/PixelRowDelegateProcessor.cs
  src/ImageSharp/Processing/Processors/Effects/PixelRowDelegateProcessorBase{TPixel}.cs
  src/ImageSharp/Processing/Processors/Effects/PixelRowDelegateProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Effects/PixelShaderProcessor.cs
  src/ImageSharp/Processing/Processors/Effects/PositionAwarePixelRowDelegateProcessor.cs
  src/ImageSharp/Processing/Processors/Effects/PositionAwarePixelRowDelegateProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Effects/PositionAwarePixelShaderProcessor.cs
  tests/ImageSharp.Tests/Processing/Processors/Effects/PixelShaderTest.cs
Labels: area:api

#1100 Default Gif RepeatCount to 1
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  src/ImageSharp/Formats/Gif/GifMetadata.cs
  tests/ImageSharp.Tests/Formats/Gif/GifMetadataTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Gif/receipt.gif
Labels: area:bug, area:formats:gif

#1102 Update codecov.yml
  codecov.yml
Labels: area:build, area:chore
