Repository SixLabors/ImageSharp, pull requests merged in 2020-06, with the labels that each got.

#1212 Swap buffers when encoding PNG with Filtered Adam7 Palette mode
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.cs
Labels: area:bug, area:formats:png

#1214 Use official Codecov action
  .github/workflows/build-and-test.yml
Labels: area:build

#1196 Async APIs / Fake Async Codecs
  src/ImageSharp/Advanced/AdvancedImageExtensions.cs
  src/ImageSharp/Advanced/IImageVisitor.cs
  src/ImageSharp/Formats/Bmp/BmpDecoder.cs
  src/ImageSharp/Formats/Bmp/BmpDecoderCore.cs
  src/ImageSharp/Formats/Bmp/BmpEncoder.cs
  src/ImageSharp/Formats/Bmp/BmpEncoderCore.cs
  src/ImageSharp/Formats/Gif/GifDecoder.cs
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  src/ImageSharp/Formats/Gif/GifEncoder.cs
  src/ImageSharp/Formats/Gif/GifEncoderCore.cs
  src/ImageSharp/Formats/IImageDecoder.cs
  src/ImageSharp/Formats/IImageEncoder.cs
  src/ImageSharp/Formats/IImageInfoDetector.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoder.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Jpeg/JpegEncoder.cs
  src/ImageSharp/Formats/Jpeg/JpegEncoderCore.cs
  src/ImageSharp/Formats/Png/PngDecoder.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoder.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  src/ImageSharp/Formats/Tga/TgaDecoder.cs
  src/ImageSharp/Formats/Tga/TgaDecoderCore.cs
  src/ImageSharp/Formats/Tga/TgaEncoder.cs
  src/ImageSharp/Formats/Tga/TgaEncoderCore.cs
  src/ImageSharp/IO/FixedCapacityPooledMemoryStream.cs
  src/ImageSharp/Image.Decode.cs
  src/ImageSharp/Image.FromStream.cs
  src/ImageSharp/Image.cs
  src/ImageSharp/ImageExtensions.cs
  src/ImageSharp/Image{TPixel}.cs
  tests/ImageSharp.Tests/Image/ImageTests.DetectFormat.cs
  tests/ImageSharp.Tests/Image/ImageTests.Identify.cs
  tests/ImageSharp.Tests/Image/ImageTests.ImageLoadTestBase.cs
  tests/ImageSharp.Tests/Image/ImageTests.Load_FromStream_UseDefaultConfiguration.cs
  tests/ImageSharp.Tests/Image/ImageTests.SaveAsync.cs
  tests/ImageSharp.Tests/TestFormat.cs
  tests/ImageSharp.Tests/TestUtilities/AsyncStreamWrapper.cs
  tests/ImageSharp.Tests/TestUtilities/ReferenceCodecs/MagickReferenceDecoder.cs
  tests/ImageSharp.Tests/TestUtilities/ReferenceCodecs/SystemDrawingReferenceDecoder.cs
  tests/ImageSharp.Tests/TestUtilities/ReferenceCodecs/SystemDrawingReferenceEncoder.cs
  tests/ImageSharp.Tests/TestUtilities/Tests/TestImageProviderTests.cs
Labels: area:api

#1226 Only throw for multi SOF when fully decoding.
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Metadata.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/issue-1221-identify-multi-frame.jpg
Labels: area:metadata, bug, formats:jpeg

#1229 Update Adler32 to correctly filter intrinsics.
  src/ImageSharp/Formats/Png/Zlib/Adler32.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.cs
  tests/ImageSharp.Tests/TestUtilities/TestEnvironment.Features.cs
Labels: bug, formats:png

#1232 Bump Gitversion
  .github/workflows/build-and-test.yml
Labels: area:build

#1234 Use ConcurrentDictionary for options properties.
  src/ImageSharp/Configuration.cs
  src/ImageSharp/GraphicOptionsDefaultsExtensions.cs
  src/ImageSharp/Processing/DefaultImageProcessorContext{TPixel}.cs
  tests/ImageSharp.Tests/GraphicOptionsDefaultsExtensionsTests.cs
  tests/ImageSharp.Tests/Processing/FakeImageOperationsProvider.cs
Labels: bug
