Repository SixLabors/ImageSharp, pull requests merged in 2020-07, with the labels that each got.

#1245 Better Builds
  .github/workflows/build-and-test.yml
  Directory.Build.props
  Directory.Build.targets
  GitVersion.yml
  ci-build.ps1
  ci-pack.ps1
  src/Directory.Build.props
  src/Directory.Build.targets
  src/ImageSharp/ImageSharp.csproj
  tests/Directory.Build.targets
Labels: area:build

#1260 Async version of DiscoverDecoder
  src/ImageSharp/Image.Decode.cs
Labels: area:api

#1256 Save as extensions
  src/ImageSharp/Formats/Bmp/ImageExtensions.cs
  src/ImageSharp/Formats/Gif/ImageExtensions.cs
  src/ImageSharp/Formats/Jpeg/ImageExtensions.cs
  src/ImageSharp/Formats/Png/ImageExtensions.cs
  src/ImageSharp/Formats/Tga/ImageExtensions.cs
  tests/ImageSharp.Tests/Formats/Bmp/ImageExtensionsTest.cs
  tests/ImageSharp.Tests/Formats/Gif/ImageExtensionsTest.cs
  tests/ImageSharp.Tests/Formats/Jpg/ImageExtensionsTest.cs
  tests/ImageSharp.Tests/Formats/Png/ImageExtensionsTest.cs
  tests/ImageSharp.Tests/Formats/Tga/ImageExtensionsTest.cs
Labels: area:api, enhancement

#1262 Update all dependency references.
  Directory.Build.targets
  tests/Directory.Build.targets
  tests/ImageSharp.Tests/Formats/Tga/TgaTestUtils.cs
  tests/ImageSharp.Tests/TestUtilities/ReferenceCodecs/MagickReferenceDecoder.cs
Labels: area:build

#1269 Buffered Decoding.
  src/ImageSharp/Common/Extensions/StreamExtensions.cs
  src/ImageSharp/Formats/Bmp/BmpDecoder.cs
  src/ImageSharp/Formats/Bmp/BmpDecoderCore.cs
  src/ImageSharp/Formats/Gif/GifDecoder.cs
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  src/ImageSharp/Formats/Gif/LzwDecoder.cs
  src/ImageSharp/Formats/IImageDecoderInternals.cs
  src/ImageSharp/Formats/ImageDecoderUtilities.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/HuffmanScanBuffer.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/HuffmanScanDecoder.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoder.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Png/PngDecoder.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/Zlib/ZlibInflateStream.cs
  src/ImageSharp/Formats/Tga/TgaDecoder.cs
  src/ImageSharp/Formats/Tga/TgaDecoderCore.cs
  src/ImageSharp/IO/BufferedReadStream.cs
  src/ImageSharp/IO/DoubleBufferedStreamReader.cs
  src/ImageSharp/Image.Decode.cs
  src/ImageSharp/Image.FromStream.cs
  src/ImageSharp/Image.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/DecodeJpegParseStreamOnly.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/DecodeJpeg_ImageSpecific.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/DoubleBufferedStreams.cs
  tests/ImageSharp.Benchmarks/General/IO/BufferedReadStreamWrapper.cs
  tests/ImageSharp.Benchmarks/General/IO/BufferedStreams.cs
  tests/ImageSharp.Benchmarks/ImageSharp.Benchmarks.csproj
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/SpectralJpegTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/Utils/JpegFixture.cs
  tests/ImageSharp.Tests/IO/BufferedReadStreamTests.cs
  tests/ImageSharp.Tests/IO/DoubleBufferedStreamReaderTests.cs
  tests/ImageSharp.Tests/Image/ImageTests.Load_FileSystemPath_PassLocalConfiguration.cs
Labels: area:formats, area:performance, bug

#1288 Added Clone and Resize to Vp8LBitWriter
  src/ImageSharp/Formats/WebP/BitWriter/Vp8LBitWriter.cs
  src/ImageSharp/Formats/WebP/Lossless/Vp8LEncoder.cs
Labels: formats:webp

#1286 Make stream buffer size configurable.
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/config.yml
  src/ImageSharp/Configuration.cs
  src/ImageSharp/Formats/Bmp/BmpDecoder.cs
  src/ImageSharp/Formats/Gif/GifDecoder.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoder.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Png/PngDecoder.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Tga/TgaDecoder.cs
  src/ImageSharp/IO/BufferedReadStream.cs
  src/ImageSharp/Image.FromStream.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/DecodeJpegParseStreamOnly.cs
  tests/ImageSharp.Benchmarks/General/IO/BufferedStreams.cs
  tests/ImageSharp.Tests/ConfigurationTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/SpectralJpegTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/Utils/JpegFixture.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.Chunks.cs
  tests/ImageSharp.Tests/IO/BufferedReadStreamTests.cs
Labels: area:performance, enhancement

#1289 Work out the crunch configs for lossless webp
  src/ImageSharp/Formats/WebP/EntropyIx.cs
  src/ImageSharp/Formats/WebP/Lossless/Vp8LEncoder.cs
Labels: formats:webp

#1291 Change position guard from MustBeLessThanTo to MustBeLessThanOrEqualTo
  src/ImageSharp/IO/BufferedReadStream.cs
  tests/ImageSharp.Tests/IO/BufferedReadStreamTests.cs
Labels: bug
