Repository SixLabors/ImageSharp, pull requests merged in 2020-04, with the labels that each got.

#1165 Additional tga tests for paletted RLE images
  src/ImageSharp/Formats/Tga/TgaDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Tga/TgaDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tga/indexed_a_rle_LL.tga
  tests/Images/Input/Tga/indexed_a_rle_LR.tga
  tests/Images/Input/Tga/indexed_a_rle_UL.tga
  tests/Images/Input/Tga/indexed_a_rle_UR.tga
  tests/Images/Input/Tga/indexed_rle_LL.tga
  tests/Images/Input/Tga/indexed_rle_LR.tga
  tests/Images/Input/Tga/indexed_rle_UL.tga
  tests/Images/Input/Tga/indexed_rle_UR.tga
Labels: area:bug, area:formats:tga

#1172 Improve accessability of Span<T> methods.
  src/ImageSharp/Advanced/AdvancedImageExtensions.cs
  src/ImageSharp/ImageFrame{TPixel}.cs
  src/ImageSharp/Image{TPixel}.cs
  tests/ImageSharp.Tests/Advanced/AdvancedImageExtensionsTests.cs
  tests/ImageSharp.Tests/Drawing/DrawImageTests.cs
  tests/ImageSharp.Tests/Formats/Gif/GifDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tga/TgaTestUtils.cs
  tests/ImageSharp.Tests/Image/ImageFrameCollectionTests.Generic.cs
  tests/ImageSharp.Tests/Image/ImageFrameCollectionTests.NonGeneric.cs
  tests/ImageSharp.Tests/Image/ImageTests.WrapMemory.cs
  tests/ImageSharp.Tests/Image/ImageTests.cs
  tests/ImageSharp.Tests/Image/LargeImageIntegrationTests.cs
  tests/ImageSharp.Tests/Processing/Processors/Transforms/AffineTransformTests.cs
  tests/ImageSharp.Tests/Processing/Processors/Transforms/ResizeTests.cs
  tests/ImageSharp.Tests/TestUtilities/TestImageExtensions.cs
  tests/ImageSharp.Tests/TestUtilities/TestUtils.cs
Labels: area:api

#1175 Update ToBase64String
  src/ImageSharp/ImageExtensions.cs
Labels: area:api

#1170 Faster Deflate
  Directory.Build.props
  src/ImageSharp/Common/Helpers/InliningOptions.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  src/ImageSharp/Formats/Png/Zlib/Deflater.cs
  src/ImageSharp/Formats/Png/Zlib/DeflaterEngine.cs
  src/ImageSharp/Formats/Png/Zlib/DeflaterHuffman.cs
  src/ImageSharp/Formats/Png/Zlib/DeflaterPendingBuffer.cs
Labels: area:formats:png, help wanted

#1174 Add support for encoding and decoding IPTC metadata
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ProfileResolver.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Jpeg/JpegEncoderCore.cs
  src/ImageSharp/Metadata/ImageMetadata.cs
  src/ImageSharp/Metadata/Profiles/Exif/ExifProfile.cs
  src/ImageSharp/Metadata/Profiles/IPTC/IIMV4.2_IPTC.pdf
  src/ImageSharp/Metadata/Profiles/IPTC/IptcProfile.cs
  src/ImageSharp/Metadata/Profiles/IPTC/IptcTag.cs
  src/ImageSharp/Metadata/Profiles/IPTC/IptcTagExtensions.cs
  src/ImageSharp/Metadata/Profiles/IPTC/IptcValue.cs
  src/ImageSharp/Metadata/Profiles/IPTC/README.md
  tests/ImageSharp.Tests/Metadata/Profiles/IPTC/IptcProfileTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/baseline/iptc-psAPP13-wIPTCempty.jpg
  tests/Images/Input/Jpg/baseline/iptc.jpg
Labels: area:metadata:iptc

#1173 Allocation-free IMemoryGroup<T> enumeration
  src/ImageSharp/Memory/DiscontiguousBuffers/IMemoryGroup{T}.cs
  src/ImageSharp/Memory/DiscontiguousBuffers/MemoryGroupEnumerator{T}.cs
  src/ImageSharp/Memory/DiscontiguousBuffers/MemoryGroupView{T}.cs
  src/ImageSharp/Memory/DiscontiguousBuffers/MemoryGroup{T}.Consumed.cs
  src/ImageSharp/Memory/DiscontiguousBuffers/MemoryGroup{T}.Owned.cs
  src/ImageSharp/Memory/DiscontiguousBuffers/MemoryGroup{T}.cs
  tests/ImageSharp.Tests/Memory/DiscontiguousBuffers/MemoryGroupTests.cs
Labels: area:api, area:performance

#1184 Additional tests
  src/ImageSharp/Formats/Png/PngChunkType.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/PngThrowHelper.cs
  src/ImageSharp/Metadata/Profiles/IPTC/IptcProfile.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Png/PngChunkTypeTests.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.Chunks.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/Metadata/Profiles/IPTC/IptcProfileTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/basn3p01.png
  tests/Images/Input/Png/basn3p02.png
  tests/Images/Input/Png/basn3p04.png
  tests/Images/Input/Png/basn3p08.png
  tests/Images/Input/Png/issues/Issue_410.png
  tests/Images/Input/Png/xc1n0g08.png
  tests/Images/Input/Png/xc9n2c08.png
  tests/Images/Input/Png/xd0n2c08.png
  tests/Images/Input/Png/xd3n2c08.png
  tests/Images/Input/Png/xdtn0g01.png
Labels: unit tests

#1181 Add DegenerateTransformException
  src/ImageSharp/Common/Exceptions/ImageProcessingException.cs
  src/ImageSharp/Processing/AffineTransformBuilder.cs
  src/ImageSharp/Processing/Processors/Transforms/DegenerateTransformException.cs
  src/ImageSharp/Processing/Processors/Transforms/TransformUtilities.cs
  src/ImageSharp/Processing/ProjectiveTransformBuilder.cs
  tests/ImageSharp.Tests/Drawing/DrawImageExtensionsTests.cs
  tests/ImageSharp.Tests/Processing/Transforms/AffineTransformBuilderTests.cs
  tests/ImageSharp.Tests/Processing/Transforms/ProjectiveTransformBuilderTests.cs
  tests/ImageSharp.Tests/Processing/Transforms/TransformBuilderTestBase.cs
Labels: area:api

#1186 Fix nuget package icon.
  Directory.Build.props
Labels: area:build

#1187 PNG Identify reads zTXt, iTXt and exif cunks
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Png/PngMetadataTests.cs
  tests/Images/Input/Png/PngWithMetaData.png
Labels: area:formats:png, area:metadata:exif

#1188 Gamma chunk should come before palette chunk
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.cs
  tests/Images/Input/Png/PngWithMetaData.png
Labels: area:formats:png

#1189 Remove obsolete PngTextProperties from png metadata
  src/ImageSharp/Formats/Png/PngMetadata.cs
Labels: area:formats:png

#1190 Change ImageFormatException to InvalidImageContentException
  src/ImageSharp/Common/Exceptions/InvalidImageContentException.cs
  src/ImageSharp/Formats/Bmp/BmpDecoder.cs
  src/ImageSharp/Formats/Gif/GifDecoder.cs
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  src/ImageSharp/Formats/Gif/GifThrowHelper.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoder.cs
  src/ImageSharp/Formats/Jpeg/JpegThrowHelper.cs
  src/ImageSharp/Formats/Png/PngDecoder.cs
  src/ImageSharp/Formats/Png/PngThrowHelper.cs
  src/ImageSharp/Formats/Tga/TgaDecoder.cs
  src/ImageSharp/Formats/Tga/TgaThrowHelper.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Gif/GifDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tga/TgaDecoderTests.cs
Labels: area:api

#1192 Introduce PngCompressionLevel
  src/ImageSharp/Formats/Png/IPngEncoderOptions.cs
  src/ImageSharp/Formats/Png/PngCompressionLevel.cs
  src/ImageSharp/Formats/Png/PngEncoder.cs
  src/ImageSharp/Formats/Png/PngEncoderOptions.cs
  src/ImageSharp/Formats/Png/Zlib/ZlibDeflateStream.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.cs
Labels: area:api, area:formats:png

#1194 BufferRegion => Buffer2DRegion
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  src/ImageSharp/Formats/Jpeg/Components/Block8x8F.ScaledCopyTo.cs
  src/ImageSharp/Memory/Buffer2DExtensions.cs
  src/ImageSharp/Memory/Buffer2DRegion{T}.cs
  src/ImageSharp/Processing/Processors/Quantization/DefaultPixelSamplingStrategy.cs
  src/ImageSharp/Processing/Processors/Quantization/ExtensivePixelSamplingStrategy.cs
  src/ImageSharp/Processing/Processors/Quantization/IPixelSamplingStrategy.cs
  src/ImageSharp/Processing/Processors/Quantization/IQuantizer{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/OctreeQuantizer{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/PaletteQuantizer{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/QuantizerUtilities.cs
  src/ImageSharp/Processing/Processors/Quantization/WuQuantizer{TPixel}.cs
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeWorker.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/BlockOperations/Block8x8F_CopyTo2x2.cs
  tests/ImageSharp.Tests/Formats/Jpg/Block8x8FTests.CopyToBufferArea.cs
  tests/ImageSharp.Tests/Memory/BufferAreaTests.cs
  tests/ImageSharp.Tests/Quantization/PixelSamplingStrategyTests.cs
Labels: area:api
