Repository SixLabors/ImageSharp, pull requests merged in 2020-05, with the labels that each got.

#1197 Change Scanlines and SamplesPerLine from short to int
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegFrame.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
Labels: area:bug, area:formats:jpeg

#1198 Ensure min dimension of 1px following rounding.
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeHelper.cs
  tests/ImageSharp.Tests/Processing/Processors/Transforms/ResizeTests.cs
Labels: area:bug, area:transforms

#1012 Added: ability to skip unneeded chunks for optimization mode
  src/ImageSharp/Formats/Png/IPngEncoderOptions.cs
  src/ImageSharp/Formats/Png/PngChunkFilter.cs
  src/ImageSharp/Formats/Png/PngEncoder.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoderOptions.cs
  src/ImageSharp/Formats/Png/PngEncoderOptionsHelpers.cs
  src/ImageSharp/Formats/Png/PngTransparentColorMode.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.Chunks.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.cs
Labels: area:enhancement, area:formats:png

#1201 Add Hardware Accelerated Checksums
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  src/ImageSharp/Formats/Png/Zlib/Adler32.cs
  src/ImageSharp/Formats/Png/Zlib/Crc32.Lut.cs
  src/ImageSharp/Formats/Png/Zlib/Crc32.cs
  src/ImageSharp/Formats/Png/Zlib/IChecksum.cs
  src/ImageSharp/Formats/Png/Zlib/README.md
  src/ImageSharp/Formats/Png/Zlib/ZlibDeflateStream.cs
  src/ImageSharp/Formats/Png/Zlib/fast-crc-computation-generic-polynomials-pclmulqdq-paper.pdf
  tests/Directory.Build.targets
  tests/ImageSharp.Benchmarks/General/Adler32Benchmark.cs
  tests/ImageSharp.Benchmarks/General/Crc32Benchmark.cs
  tests/ImageSharp.Benchmarks/ImageSharp.Benchmarks.csproj
  tests/ImageSharp.Tests/Formats/Png/Adler32Tests.cs
  tests/ImageSharp.Tests/Formats/Png/Crc32Tests.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.Chunks.cs
  tests/ImageSharp.Tests/ImageSharp.Tests.csproj
Labels: area:formats:png, area:performance

#1203 Return input checksum value on empty buffer
  src/ImageSharp/Formats/Png/Zlib/Adler32.cs
  src/ImageSharp/Formats/Png/Zlib/Crc32.cs
  tests/ImageSharp.Tests/Formats/Png/Adler32Tests.cs
  tests/ImageSharp.Tests/Formats/Png/Crc32Tests.cs
Labels: area:bug

#1210 Additionally checks in DetectFormat for TGA files
  src/ImageSharp/Formats/Tga/TgaImageFormatDetector.cs
  tests/ImageSharp.Tests/Formats/Tga/TgaFileHeaderTests.cs
Labels: area:formats:tga
