Repository SixLabors/ImageSharp, pull requests merged in 2021-06, with the labels that each got.

#1646 Make sure encoding 4bit paletted tiff rows are byte aligned
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffPaletteWriter{TPixel}.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/flower-minisblack-04.tiff
  tests/Images/Input/Tiff/flower-palette-04.tiff
Labels: bug, formats:tiff

#1629 Fixed Issue#1628
  src/ImageSharp/Image.cs
  src/ImageSharp/ImageFrameCollection.cs
  src/ImageSharp/ImageFrameCollection{TPixel}.cs
  src/ImageSharp/Image{TPixel}.cs
  tests/ImageSharp.Tests/Image/ImageFrameCollectionTests.Generic.cs
  tests/ImageSharp.Tests/Image/ImageFrameCollectionTests.NonGeneric.cs
  tests/ImageSharp.Tests/Image/ImageTests.cs
Labels: API, codequality

#1647 Add support for decoding 6, 12, 30, 42 bits per pixel tiff's
  src/ImageSharp/Formats/Tiff/Constants/TiffConstants.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgb444TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/RgbPlanarTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/TiffColorDecoderFactory{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/TiffColorType.cs
  src/ImageSharp/Formats/Tiff/TiffBitsPerPixel.cs
  src/ImageSharp/Formats/Tiff/TiffBitsPerSample.cs
  src/ImageSharp/Formats/Tiff/TiffBitsPerSampleExtensions.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderEntriesCollector.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffMetadataTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/ImageSharp.Tests/TestUtilities/ReferenceCodecs/MagickReferenceDecoder.cs
  tests/Images/Input/Tiff/flower-rgb-contig-02.tiff
  tests/Images/Input/Tiff/flower-rgb-contig-04.tiff
  tests/Images/Input/Tiff/flower-rgb-contig-10.tiff
  tests/Images/Input/Tiff/flower-rgb-contig-14.tiff
  tests/Images/Input/Tiff/flower-rgb-planar-02.tiff
  tests/Images/Input/Tiff/flower-rgb-planar-04.tiff
  tests/Images/Input/Tiff/flower-rgb-planar-10.tiff
  tests/Images/Input/Tiff/flower-rgb-planar-14.tiff
Labels: formats:tiff

#1655 Use GreatestCommonDivisor to prevent overflow
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeKernelMap.cs
  tests/ImageSharp.Tests/Processing/Processors/Transforms/ResizeKernelMapTests.cs
Labels: area:transforms, bug

#1659 Update RemoteExecutor
  tests/Directory.Build.targets
  tests/ImageSharp.Tests/Processing/Processors/Convolution/BokehBlurTest.cs
  tests/ImageSharp.Tests/TestUtilities/Tests/TestEnvironmentTests.cs
Labels: unit tests

#1652 Add support for decoding tiff's with additional pixel variants
  src/ImageSharp/Formats/Tiff/Constants/TiffConstants.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/BlackIsZeroTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/PaletteTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/RgbPlanarTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/RgbTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/TiffColorDecoderFactory{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/TiffColorType.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/WhiteIsZeroTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/TiffBitsPerPixel.cs
  src/ImageSharp/Formats/Tiff/TiffBitsPerSample.cs
  src/ImageSharp/Formats/Tiff/TiffBitsPerSampleExtensions.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderEntriesCollector.cs
  src/ImageSharp/Formats/Tiff/TiffFrameMetadata.cs
  tests/ImageSharp.Tests/Formats/Tiff/PhotometricInterpretation/BlackIsZeroTiffColorTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/PhotometricInterpretation/PaletteTiffColorTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/PhotometricInterpretation/RgbPlanarTiffColorTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/PhotometricInterpretation/RgbTiffColorTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/PhotometricInterpretation/WhiteIsZeroTiffColorTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffMetadataTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/ImageSharp.Tests/TestUtilities/ReferenceCodecs/MagickReferenceDecoder.cs
  tests/Images/Input/Tiff/flower-minisblack-02.tiff
  tests/Images/Input/Tiff/flower-minisblack-06.tiff
  tests/Images/Input/Tiff/flower-minisblack-08.tiff
  tests/Images/Input/Tiff/flower-minisblack-10.tiff
  tests/Images/Input/Tiff/flower-minisblack-12.tiff
  tests/Images/Input/Tiff/flower-minisblack-14.tiff
  tests/Images/Input/Tiff/flower-minisblack-16.tiff
  tests/Images/Input/Tiff/flower-palette-02.tiff
  tests/Images/Input/Tiff/flower-rgb-contig-12.tiff
  tests/Images/Input/Tiff/flower-rgb-contig-16.tiff
  tests/Images/Input/Tiff/flower-rgb-planar-16.tiff
Labels: formats:tiff

#1662 TiffEncoder: Avoid buffer2D.GetSingleSpan() and use GetPixelRowSpan instead
  src/ImageSharp/Formats/Tiff/Compression/Compressors/T4BitCompressor.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffBaseColorWriter{TPixel}.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffBiColorWriter{TPixel}.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffCompositeColorWriter{TPixel}.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffPaletteWriter{TPixel}.cs
Labels: formats:tiff

#1663 Numerics.cs Log2 implementation
  src/ImageSharp/Common/Helpers/Numerics.cs
  src/ImageSharp/Formats/Jpeg/Components/Encoder/HuffmanScanEncoder.cs
  tests/ImageSharp.Tests/Common/NumericsTests.cs
Labels: area:performance

#1667 Fix build configuration
  Directory.Build.props
  ImageSharp.sln
  tests/ImageSharp.Tests/Formats/Jpg/RgbToYCbCrConverterTests.cs
Labels: area:build

#1669 GifDecoder: Clamp color map index
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Gif/GifDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/External/ReferenceOutput/GifDecoderTests/Issue1668_InvalidColorIndex_Rgba32_issue1668_invalidcolorindex.png
  tests/Images/Input/Gif/issues/issue1668_invalidcolorindex.gif
Labels: formats:gif

#1674 Rename unsafe memory methods to use Dangerous prefix.
  src/ImageSharp/Memory/Buffer2DExtensions.cs
  src/ImageSharp/Memory/Buffer2D{T}.cs
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeKernelMap.cs
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeWorker.cs
  tests/ImageSharp.Tests/Formats/Jpg/SpectralJpegTests.cs
  tests/ImageSharp.Tests/Helpers/ParallelRowIteratorTests.cs
  tests/ImageSharp.Tests/Image/ImageTests.WrapMemory.cs
  tests/ImageSharp.Tests/Memory/Buffer2DTests.cs
  tests/ImageSharp.Tests/TestUtilities/TestImageExtensions.cs
Labels: API, codequality

#1672 Allow clearing and reusing a pixel map.
  src/ImageSharp/Formats/Gif/GifEncoderCore.cs
  src/ImageSharp/Processing/Processors/Quantization/EuclideanPixelMap{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/OctreeQuantizer{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/PaletteQuantizer.cs
  src/ImageSharp/Processing/Processors/Quantization/PaletteQuantizer{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/WuQuantizer{TPixel}.cs
Labels: area:performance, formats:gif

#1676 Update AllocatePaddedPixelRowBuffer to use IMemoryOwner<byte>
  src/ImageSharp/Common/Extensions/StreamExtensions.cs
  src/ImageSharp/Formats/Bmp/BmpDecoderCore.cs
  src/ImageSharp/Formats/Bmp/BmpEncoderCore.cs
  src/ImageSharp/Formats/Tga/TgaDecoderCore.cs
  src/ImageSharp/Formats/Tga/TgaEncoderCore.cs
  src/ImageSharp/Memory/MemoryAllocatorExtensions.cs
Labels: API

#1677 Remove IManagedByteBuffer Part 2
  src/ImageSharp/Formats/Bmp/BmpDecoderCore.cs
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  src/ImageSharp/Formats/Gif/GifEncoderCore.cs
  src/ImageSharp/Formats/Tga/TgaDecoderCore.cs
  src/ImageSharp/Formats/Tiff/Compression/Compressors/PackBitsCompressor.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/RgbPlanarTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffCompositeColorWriter{TPixel}.cs
  src/ImageSharp/IO/ChunkedMemoryStream.cs
  src/ImageSharp/Image.Decode.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpEncoderTests.cs
Labels: API

#1678 Do not skip 4-bit and 1-bit bmp tests on linux
  tests/ImageSharp.Tests/Formats/Bmp/BmpDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpEncoderTests.cs
Labels: formats:bmp, unit tests
