Repository SixLabors/ImageSharp, pull requests merged in 2021-07, with the labels that each got.

#1681 Migrate ManagedByteBuffer 3
  src/ImageSharp/Common/Extensions/StreamExtensions.cs
  src/ImageSharp/Common/Helpers/DebugGuard.cs
  src/ImageSharp/Formats/Png/Filters/AverageFilter.cs
  src/ImageSharp/Formats/Png/Filters/PaethFilter.cs
  src/ImageSharp/Formats/Png/Filters/SubFilter.cs
  src/ImageSharp/Formats/Png/Filters/UpFilter.cs
  src/ImageSharp/Formats/Png/PngChunk.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  tests/ImageSharp.Tests/Formats/Png/ReferenceImplementations.cs
Labels: API

#1683 Migrate ManagedByteBuffer 4
  src/ImageSharp/Compression/Zlib/Deflater.cs
  src/ImageSharp/Compression/Zlib/DeflaterEngine.cs
  src/ImageSharp/Compression/Zlib/DeflaterHuffman.cs
  src/ImageSharp/Compression/Zlib/DeflaterOutputStream.cs
  src/ImageSharp/Compression/Zlib/DeflaterPendingBuffer.cs
  src/ImageSharp/Formats/Bmp/BmpEncoderCore.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffBiColorWriter{TPixel}.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffPaletteWriter{TPixel}.cs
  src/ImageSharp/Memory/Allocators/MemoryAllocator.cs
  tests/ImageSharp.Tests/Formats/Tiff/PhotometricInterpretation/RgbPlanarTiffColorTests.cs
Labels: API

#1688 Run some high memory tests serial
  src/ImageSharp/Formats/Jpeg/Components/Encoder/YCbCrForwardConverter{TPixel}.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Gif/GifDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Gif/GifEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Tga/TgaDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tga/TgaEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderTests.cs
Labels: unit tests

#1691 Updated Colourful from 2.0.5 to 3.0.0 (only benchmarks affected)
  tests/Directory.Build.targets
  tests/ImageSharp.Benchmarks/Color/ColorspaceCieXyzToCieLabConvert.cs
  tests/ImageSharp.Benchmarks/Color/ColorspaceCieXyzToHunterLabConvert.cs
  tests/ImageSharp.Benchmarks/Color/ColorspaceCieXyzToLmsConvert.cs
  tests/ImageSharp.Benchmarks/Color/ColorspaceCieXyzToRgbConvert.cs
  tests/ImageSharp.Benchmarks/Color/RgbWorkingSpaceAdapt.cs
Labels: unit tests

#1702 Jpeg decoder refactoring, fixed 1693
  src/ImageSharp/Formats/Jpeg/Components/Decoder/HuffmanScanDecoder.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/IRawJpegData.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegBlockPostProcessor.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegComponent.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegComponentPostProcessor.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegFrame.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/SpectralConverter{TPixel}.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Images.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/ParseStreamTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/fuzz/Issue1693-IndexOutOfRangeException-A.jpg
  tests/Images/Input/Jpg/issues/fuzz/Issue1693-IndexOutOfRangeException-B.jpg
Labels: formats:jpeg

#1707 Fix a few uses of DeflateStream.Read
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/DeflateTiffCompression.cs
Labels: bug, formats:png

#1719 Use same byte order as IFD directory to decode pixels for 16 bit per channel images
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgb161616TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/TiffColorDecoderFactory{TPixel}.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/Issues/Issue1716.tiff
Labels: formats:tiff
