Repository SixLabors/ImageSharp, pull requests merged in 2021-05, with the labels that each got.

#1623 Add support for encoding 1 bit per pixel bitmaps
  src/ImageSharp/Formats/Bmp/BmpBitsPerPixel.cs
  src/ImageSharp/Formats/Bmp/BmpDecoderCore.cs
  src/ImageSharp/Formats/Bmp/BmpEncoder.cs
  src/ImageSharp/Formats/Bmp/BmpEncoderCore.cs
  src/ImageSharp/Formats/Bmp/IBmpEncoderOptions.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpEncoderTests.cs
Labels: formats:bmp

#1630 Vectorize Png encoder filters
  src/ImageSharp/Common/Helpers/Numerics.cs
  src/ImageSharp/Formats/Png/Filters/AverageFilter.cs
  src/ImageSharp/Formats/Png/Filters/PaethFilter.cs
  src/ImageSharp/Formats/Png/Filters/SubFilter.cs
  src/ImageSharp/Formats/Png/Filters/UpFilter.cs
  tests/ImageSharp.Tests/Formats/Png/PngFilterTests.cs
  tests/ImageSharp.Tests/Formats/Png/ReferenceImplementations.cs
Labels: area:performance, formats:png

#1636 Update ImageSharp.Tests.ProfilingSandbox.csproj
  tests/ImageSharp.Tests.ProfilingSandbox/ImageSharp.Tests.ProfilingSandbox.csproj
Labels: area:build

#1641 AdaptiveHistogramEqualizationProcessor. Fix for large images
  src/ImageSharp/Processing/Processors/Normalization/AdaptiveHistogramEqualizationProcessor.cs
  src/ImageSharp/Processing/Processors/Normalization/AdaptiveHistogramEqualizationProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Normalization/HistogramEqualizationProcessor.cs
  src/ImageSharp/Processing/Processors/Normalization/HistogramEqualizationProcessor{TPixel}.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegEncoderTests.cs
  tests/ImageSharp.Tests/Processing/Normalization/HistogramEqualizationTests.cs
Labels: bug
