Repository SixLabors/ImageSharp, pull requests merged in 2021-12, with the labels that each got.

#1859 Use Rgb24 for Async Jpeg Decode
  src/ImageSharp/Formats/Jpeg/JpegDecoder.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
Labels: bug, formats:jpeg

#1857 Add AVX2 version of QuantizeBlock
  src/ImageSharp/Formats/Webp/Lossy/QuantEnc.cs
  tests/ImageSharp.Tests/Formats/WebP/QuantEncTests.cs
Labels: area:performance, formats:webp

#1862 Add SSE2 version of TransformOne and TransformTwo
  src/ImageSharp/Formats/Webp/Lossy/LossyUtils.cs
  src/ImageSharp/Formats/Webp/Lossy/QuantEnc.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Encoding.cs
  tests/ImageSharp.Tests/Formats/WebP/LossyUtilsTests.cs
  tests/ImageSharp.Tests/Formats/WebP/Vp8EncodingTests.cs
Labels: area:performance, formats:webp

#1865 Fix Color conversion for differing types
  src/ImageSharp/Color/Color.cs
  tests/ImageSharp.Tests/Color/ColorTests.CastTo.cs
Labels: bug

#1873 Allocate clean buffer in AnalyzeEntropy
  src/ImageSharp/Formats/Webp/Lossless/Vp8LEncoder.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpEncoderTests.cs
Labels: bug, formats:webp

#1876 Fixed jpeg encoder last bytes flushing bug
  src/ImageSharp/Formats/Jpeg/Components/Encoder/HuffmanScanEncoder.cs
Labels: bug, formats:jpeg

#1871 Add SSE2 version for webp Filter methods
  src/ImageSharp/Formats/Webp/Lossy/LossyUtils.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpDecoderTests.cs
Labels: area:performance, formats:webp

#1851 Add support for Portable Bitmap images
  src/ImageSharp/Advanced/AotCompilerTools.cs
  src/ImageSharp/Configuration.cs
  src/ImageSharp/Formats/ImageExtensions.Save.cs
  src/ImageSharp/Formats/ImageExtensions.Save.tt
  src/ImageSharp/Formats/Pbm/BinaryDecoder.cs
  src/ImageSharp/Formats/Pbm/BinaryEncoder.cs
  src/ImageSharp/Formats/Pbm/BufferedReadStreamExtensions.cs
  src/ImageSharp/Formats/Pbm/IPbmEncoderOptions.cs
  src/ImageSharp/Formats/Pbm/MetadataExtensions.cs
  src/ImageSharp/Formats/Pbm/PbmColorType.cs
  src/ImageSharp/Formats/Pbm/PbmComponentType.cs
  src/ImageSharp/Formats/Pbm/PbmConfigurationModule.cs
  src/ImageSharp/Formats/Pbm/PbmConstants.cs
  src/ImageSharp/Formats/Pbm/PbmDecoder.cs
  src/ImageSharp/Formats/Pbm/PbmDecoderCore.cs
  src/ImageSharp/Formats/Pbm/PbmEncoder.cs
  src/ImageSharp/Formats/Pbm/PbmEncoderCore.cs
  src/ImageSharp/Formats/Pbm/PbmEncoding.cs
  src/ImageSharp/Formats/Pbm/PbmFormat.cs
  src/ImageSharp/Formats/Pbm/PbmImageFormatDetector.cs
  src/ImageSharp/Formats/Pbm/PbmMetadata.cs
  src/ImageSharp/Formats/Pbm/PlainDecoder.cs
  src/ImageSharp/Formats/Pbm/PlainEncoder.cs
  src/ImageSharp/ImageSharp.csproj
  tests/ImageSharp.Tests/ConfigurationTests.cs
  tests/ImageSharp.Tests/Formats/GeneralFormatTests.cs
  tests/ImageSharp.Tests/Formats/ImageFormatManagerTests.cs
  tests/ImageSharp.Tests/Formats/Pbm/ImageExtensionsTest.cs
  tests/ImageSharp.Tests/Formats/Pbm/PbmDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Pbm/PbmEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Pbm/PbmMetadataTests.cs
  tests/ImageSharp.Tests/Formats/Pbm/PbmRoundTripTests.cs
  tests/ImageSharp.Tests/Formats/Tga/TgaDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tga/TgaEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffMetadataTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffTestUtils.cs
  tests/ImageSharp.Tests/Image/ImageTests.SaveAsync.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/ImageSharp.Tests/TestUtilities/ImageComparison/ImageComparingUtils.cs
  tests/ImageSharp.Tests/TestUtilities/TestEnvironment.Formats.cs
  tests/Images/External/ReferenceOutput/PbmDecoderTests/DecodeReferenceImage_L16_Gene-UP WebSocket RunImageMask.png
  tests/Images/External/ReferenceOutput/PbmDecoderTests/DecodeReferenceImage_L8_blackandwhite_binary.png
  tests/Images/External/ReferenceOutput/PbmDecoderTests/DecodeReferenceImage_L8_blackandwhite_plain.png
  tests/Images/External/ReferenceOutput/PbmDecoderTests/DecodeReferenceImage_L8_grayscale_plain.png
  tests/Images/External/ReferenceOutput/PbmDecoderTests/DecodeReferenceImage_L8_grayscale_plain_normalized.png
  tests/Images/External/ReferenceOutput/PbmDecoderTests/DecodeReferenceImage_L8_rings.png
  tests/Images/External/ReferenceOutput/PbmDecoderTests/DecodeReferenceImage_Rgb24_00000_00000.png
  tests/Images/External/ReferenceOutput/PbmDecoderTests/DecodeReferenceImage_Rgb24_rgb_plain.png
  tests/Images/External/ReferenceOutput/PbmDecoderTests/DecodeReferenceImage_Rgb24_rgb_plain_normalized.png
  tests/Images/Input/Pbm/00000_00000.ppm
  tests/Images/Input/Pbm/Gene-UP WebSocket RunImageMask.pgm
  tests/Images/Input/Pbm/blackandwhite_binary.pbm
  tests/Images/Input/Pbm/blackandwhite_plain.pbm
  tests/Images/Input/Pbm/grayscale_plain.pgm
  tests/Images/Input/Pbm/grayscale_plain_magick.pgm
  tests/Images/Input/Pbm/grayscale_plain_normalized.pgm
  tests/Images/Input/Pbm/rgb_plain.ppm
  tests/Images/Input/Pbm/rgb_plain_magick.ppm
  tests/Images/Input/Pbm/rgb_plain_normalized.ppm
  tests/Images/Input/Pbm/rings.pgm
Labels: area:formats, formats:pnm

#1885 Remove RunSerial from tests
  tests/ImageSharp.Tests/Formats/Bmp/BmpDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpEncoderTests.cs
  tests/ImageSharp.Tests/Formats/GeneralFormatTests.cs
  tests/ImageSharp.Tests/Formats/Gif/GifDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Gif/GifEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Gif/GifMetadataTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Tga/TgaDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tga/TgaEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffMetadataTests.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpDecoderTests.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpEncoderTests.cs
  tests/ImageSharp.Tests/Memory/Allocators/UniformUnmanagedPoolMemoryAllocatorTests.cs
Labels: unit tests

#1882 Add AVX2 version of CollectHistogram
  src/ImageSharp/Formats/Webp/Lossy/Vp8Histogram.cs
  tests/ImageSharp.Tests/Formats/WebP/Vp8HistogramTests.cs
Labels: area:performance, formats:webp

#1881 Add SSE2 and AVX2 versions of Vp8_Sse16X16 and Vp8_Sse16X8
  src/ImageSharp/Formats/Webp/Lossy/LossyUtils.cs
  tests/ImageSharp.Tests/Formats/WebP/LossyUtilsTests.cs
Labels: area:performance, formats:webp

#1864 Automatic SSE color converters based on Vector API
  src/ImageSharp/Common/Helpers/SimdUtils.cs
  src/ImageSharp/Common/Tuples/Vector4Pair.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.Avx2JpegColorConverter.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.BasicJpegColorConverter.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromCmykAvx.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromCmykAvx2.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromCmykScalar.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromCmykVector.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromCmykVector8.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromGrayScaleAvx.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromGrayScaleBasic.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromGrayScaleScalar.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromGrayScaleVector.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromRgbAvx.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromRgbBasic.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromRgbScalar.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromRgbVector.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromYCbCrAvx.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromYCbCrBasic.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromYCbCrScalar.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromYCbCrVector.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromYCbCrVector4.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromYccKAvx.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromYccKScalar.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.FromYccKVector.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.Vector8JpegColorConverter.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.VectorizedJpegColorConverter.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverterAvx.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverterBase.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverterScalar.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverterVector.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegColorSpace.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/SpectralConverter.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/SpectralConverter{TPixel}.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/RgbJpegSpectralConverter.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/CmykColorConversion.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/GrayscaleColorConversion.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/RgbColorConversion.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/YCbCrColorConversion.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/YccKColorConverter.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegColorConverterTests.cs
  tests/ImageSharp.Tests/Memory/Allocators/UniformUnmanagedPoolMemoryAllocatorTests.cs
Labels: formats:jpeg

#1888 Remove netstandard 1.3 target
  README.md
  src/ImageSharp/Common/Helpers/Guard.cs
  src/ImageSharp/Formats/Tiff/Compression/Compressors/DeflateCompressor.cs
  src/ImageSharp/ImageSharp.csproj
Labels: area:build, breaking

#1861 Png - Preserve Pixel Format for Non-generic decode.
  src/ImageSharp/Formats/Png/PngDecoder.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
Labels: enhancement, formats:png, breaking

#1898 PNG: Verify CRC of IDAT chunk is correct
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/xcsn0g01.png
Labels: formats:png

#1906 Expose ImageFrame<TPixel>.PixelBuffer
  src/ImageSharp/ImageFrame{TPixel}.cs
Labels: API
