Repository SixLabors/ImageSharp, pull requests merged in 2021-08, with the labels that each got.

#1686 Encode multi-frame Tiff format
  src/ImageSharp/Common/Helpers/ExifResolutionValues.cs
  src/ImageSharp/Common/Helpers/UnitConverter.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderEntriesCollector.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffStreamWriter.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderBaseTester.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderMultiframeTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffMetadataTests.cs
Labels: formats:tiff

#1721 Do not use static options for default quantizer constructors.
  src/ImageSharp/Processing/Processors/Dithering/ErrorDither.cs
  src/ImageSharp/Processing/Processors/Dithering/OrderedDither.cs
  src/ImageSharp/Processing/Processors/Quantization/OctreeQuantizer.cs
  src/ImageSharp/Processing/Processors/Quantization/PaletteQuantizer.cs
  src/ImageSharp/Processing/Processors/Quantization/WebSafePaletteQuantizer.cs
  src/ImageSharp/Processing/Processors/Quantization/WernerPaletteQuantizer.cs
  src/ImageSharp/Processing/Processors/Quantization/WuQuantizer.cs
  tests/ImageSharp.Tests/Processing/Processors/Dithering/DitherTests.cs
  tests/ImageSharp.Tests/Processing/Processors/Quantization/QuantizerTests.cs
Labels: area:quantizers, bug

#1706 Jpeg quantization metadata
  src/ImageSharp/Formats/Jpeg/Components/Block8x8F.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegComponent.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/QualityEvaluator.cs
  src/ImageSharp/Formats/Jpeg/Components/Quantization.cs
  src/ImageSharp/Formats/Jpeg/IJpegEncoderOptions.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoder.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Jpeg/JpegEncoder.cs
  src/ImageSharp/Formats/Jpeg/JpegEncoderCore.cs
  src/ImageSharp/Formats/Jpeg/JpegMetadata.cs
  src/ImageSharp/Formats/Jpeg/JpegThrowHelper.cs
  tests/ImageSharp.Tests/Formats/Jpg/Block8x8FTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Metadata.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegMetadataTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/QuantizationTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/SpectralJpegTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/baseline/forest_bridge.jpg
  tests/Images/Input/Jpg/progressive/winter.jpg
Labels: formats:jpeg

#1723 Fix issue calculating the stripIndex for planar tiff's
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/flower-rgb-planar-08-15strips.tiff
  tests/Images/Input/Tiff/flower-rgb-planar-08-6strips.tiff
Labels: bug, formats:tiff

#1726 Use bulk pixel conversion for some tiff color decoders
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/BlackIsZero16TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/BlackIsZero8TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgb161616TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgb888TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/TiffColorDecoderFactory{TPixel}.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Tiff/PhotometricInterpretation/BlackIsZeroTiffColorTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/PhotometricInterpretation/RgbTiffColorTests.cs
Labels: formats:tiff

#1725 Add support for decoding tiff's encoded with LeastSignificantBitFirst
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/ModifiedHuffmanTiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/T4BitReader.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/T4TiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/TiffDecompressorsFactory.cs
  src/ImageSharp/Formats/Tiff/README.md
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderTests.cs
  tests/ImageSharp.Tests/Memory/Allocators/ArrayPoolMemoryAllocatorTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/7324fcaff3aad96f27899da51c1bb5d9.tiff
  tests/Images/Input/Tiff/Calliphora_ccitt_fax3.tiff
  tests/Images/Input/Tiff/b0350_fillorder2.tiff
  tests/Images/Input/Tiff/basi3p02_fax3_lowerOrderBitsFirst.tiff
  tests/Images/Input/Tiff/basi3p02_huffman_rle_lowerOrderBitsFirst.tiff
  tests/Images/Input/Tiff/f8179f8f5e566349cf3583a1ff3ea95c.tiff
  tests/Images/Input/Tiff/g3test.tiff
Labels: formats:tiff

#1729 Add support decoding tiffs with horizontal predictor and bit depth > 8
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/DeflateTiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/LzwTiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/HorizontalPredictor.cs
  src/ImageSharp/Formats/Tiff/Compression/TiffDecompressorsFactory.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Tiff/Compression/DeflateTiffCompressionTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/Compression/LzwTiffCompressionTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/flower-minisblack-16_lsb_lzw_predictor.tiff
  tests/Images/Input/Tiff/flower-minisblack-16_msb_lzw_predictor.tiff
  tests/Images/Input/Tiff/flower-minisblack-32_lsb_deflate_predictor.tiff
  tests/Images/Input/Tiff/flower-minisblack-32_msb_deflate_predictor.tiff
  tests/Images/Input/Tiff/flower-rgb-contig-16_lsb_zip_predictor.tiff
  tests/Images/Input/Tiff/flower-rgb-contig-16_msb_zip_predictor.tiff
  tests/Images/Input/Tiff/flower-rgb-contig-32_lsb_zip_predictor.tiff
  tests/Images/Input/Tiff/flower-rgb-contig-32_msb_zip_predictor.tiff
Labels: formats:tiff

#1731 Add support for decoding tiff's with YCbCr PhotometricInterpretation
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/TiffColorDecoderFactory{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/TiffColorType.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/YCbCrConverter.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/YCbCrPlanarTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/YCbCrTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/README.md
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  src/ImageSharp/Formats/Tiff/Utils/TiffUtils.cs
  src/ImageSharp/Primitives/Rational.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/flower-rgb-contig-08.tiff
  tests/Images/Input/Tiff/flower-ycbcr-contig-08_h1v1.tiff
  tests/Images/Input/Tiff/flower-ycbcr-contig-08_h2v1.tiff
  tests/Images/Input/Tiff/flower-ycbcr-contig-08_h2v2.tiff
  tests/Images/Input/Tiff/flower-ycbcr-contig-08_h4v4.tiff
  tests/Images/Input/Tiff/flower-ycbcr-planar-08_h1v1.tiff
  tests/Images/Input/Tiff/rgb-ycbcr-contig-08_h1v1.tiff
  tests/Images/Input/Tiff/rgb-ycbcr-contig-08_h2v1.tiff
  tests/Images/Input/Tiff/rgb-ycbcr-contig-08_h2v2.tiff
  tests/Images/Input/Tiff/rgb-ycbcr-contig-08_h4v2.tiff
  tests/Images/Input/Tiff/rgb-ycbcr-contig-08_h4v4.tiff
Labels: formats:tiff

#1732 If component id's are R, G, B in ASCII the color space should be RGB
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/Issue1732-WrongColorSpace.jpg
Labels: bug, formats:jpeg

#1742 Throw NotSupportedException for arithmetic coding and lossless jpeg's
  src/ImageSharp/Formats/Jpeg/JpegConstants.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Jpeg/JpegThrowHelper.cs
  src/ImageSharp/Image.FromBytes.cs
  src/ImageSharp/Image.FromFile.cs
  src/ImageSharp/Image.FromStream.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/baseline/arithmetic_coding.jpg
  tests/Images/Input/Jpg/baseline/lossless.jpg
  tests/Images/Input/Jpg/progressive/arithmetic_progressive.jpg
Labels: formats:jpeg

#1747 Add support for decoding tiff's with T.6 fax compression
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/CcittReferenceScanline.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/CcittTwoDimensionalCode.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/CcittTwoDimensionalCodeType.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/DeflateTiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/LzwTiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/ModifiedHuffmanBitReader.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/ModifiedHuffmanTiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/NoneTiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/PackBitsTiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/T4BitReader.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/T4TiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/T6BitReader.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/T6TiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/TiffBaseDecompressor.cs
  src/ImageSharp/Formats/Tiff/Compression/TiffDecoderCompressionType.cs
  src/ImageSharp/Formats/Tiff/Compression/TiffDecompressorsFactory.cs
  src/ImageSharp/Formats/Tiff/README.md
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  tests/ImageSharp.Tests/Formats/Tiff/Compression/DeflateTiffCompressionTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/Compression/LzwTiffCompressionTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/Compression/NoneTiffCompressionTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/Compression/PackBitsTiffCompressionTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/Calliphora_ccitt_fax4.tiff
  tests/Images/Input/Tiff/basi3p02_fax4.tiff
  tests/Images/Input/Tiff/basi3p02_fax4_lowerOrderBitsFirst.tiff
  tests/Images/Input/Tiff/basi3p02_fax4_minisblack.tiff
Labels: formats:tiff

#1756 Fix ManagedBufferBase pinning behavior
  src/ImageSharp/Memory/Allocators/Internals/ManagedBufferBase.cs
  tests/ImageSharp.Tests/Memory/Allocators/ArrayPoolMemoryAllocatorTests.cs
  tests/ImageSharp.Tests/Memory/Allocators/SimpleGcMemoryAllocatorTests.cs
Labels: bug
