Repository SixLabors/ImageSharp, pull requests merged in 2021-02, with the labels that each got.

#1526 Change size guards for WrapMemory to allow Memory/IMemoryOwner blocks to be larger than the image size
  src/ImageSharp/Image.WrapMemory.cs
  tests/ImageSharp.Tests/Image/ImageTests.WrapMemory.cs
Labels: enhancement

#1533 JpegEncoder - Optimize Some Low Hanging Fruit
  src/ImageSharp/Formats/Jpeg/Components/Block8x8F.cs
  src/ImageSharp/Formats/Jpeg/Components/Encoder/YCbCrForwardConverter{TPixel}.cs
  src/ImageSharp/Formats/Jpeg/Components/GenericBlock8x8.cs
  src/ImageSharp/Formats/Jpeg/Components/RowOctet.cs
  src/ImageSharp/Formats/Jpeg/JpegEncoderCore.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/BlockOperations/Block8x8F_Scale16X16To8X8.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/EncodeJpeg.cs
  tests/ImageSharp.Tests/Formats/Jpg/GenericBlock8x8Tests.cs
  tests/ImageSharp.Tests/Image/ImageTests.WrapMemory.cs
  tests/ImageSharp.Tests/TestUtilities/TestEnvironment.cs
Labels: area:performance, formats:jpeg

#1551 Fix vectorized 4:2:0 subsampling
  src/ImageSharp/Formats/Jpeg/Components/Block8x8F.cs
Labels: formats:jpeg

#1561 Added image integral algorithm.
  src/ImageSharp/Processing/Extensions/ProcessingExtensions.IntegralImage.cs
  src/ImageSharp/Processing/Extensions/ProcessingExtensions.cs
  tests/ImageSharp.Tests/Processing/IntegralImageTests.cs
Labels: enhancement
