Repository SixLabors/ImageSharp, pull requests merged in 2021-01, with the labels that each got.

#1506 Fix for Issue #1505
  src/ImageSharp/Processing/Processors/Quantization/OctreeQuantizer{TPixel}.cs
  tests/ImageSharp.Tests/Quantization/QuantizedImageTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Gif/issues/issue1505_argumentoutofrange.png
Labels: bug, formats:gif

#1513 Speed improvements to resize kernel (w/ SIMD)
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeKernel.cs
  tests/ImageSharp.Tests/Processing/Processors/Transforms/ResizeTests.cs
Labels: area:performance

#1517 Vectorize Scale16X16To8X8
  src/ImageSharp/Common/Helpers/SimdUtils.HwIntrinsics.cs
  src/ImageSharp/Formats/Jpeg/Components/Block8x8F.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/BlockOperations/Block8x8F_Scale16X16To8X8.cs
Labels: area:performance, formats:jpeg

#1496 #12 Implement Tiff Encoder benchmarks
  tests/ImageSharp.Benchmarks/Codecs/DecodeTiff.cs
  tests/ImageSharp.Benchmarks/Codecs/DecodeTiffBig.cs
  tests/ImageSharp.Benchmarks/Codecs/EncodeTga.cs
  tests/ImageSharp.Benchmarks/Codecs/EncodeTiff.cs
  tests/ImageSharp.Benchmarks/Config.cs
Labels: formats:tiff

#1494 #12 Use exif reader for tiff tags reading
  src/ImageSharp/Formats/Tiff/Constants/TiffSubfileType.cs
  src/ImageSharp/Formats/Tiff/Ifd/DirectoryReader.cs
  src/ImageSharp/Formats/Tiff/Ifd/EntryReader.cs
  src/ImageSharp/Formats/Tiff/Streams/TiffBigEndianStream.cs
  src/ImageSharp/Formats/Tiff/Streams/TiffLittleEndianStream.cs
  src/ImageSharp/Formats/Tiff/Streams/TiffStream.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderMetadataCreator.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderEntriesCollector.cs
  src/ImageSharp/Formats/Tiff/TiffFrameMetadata.cs
  src/ImageSharp/Formats/Tiff/TiffFrameMetadataExtensions.cs
  src/ImageSharp/Formats/Tiff/TiffFrameMetadataResolutionExtensions.cs
  src/ImageSharp/Metadata/Profiles/Exif/ExifProfile.cs
  src/ImageSharp/Metadata/Profiles/Exif/ExifReader.cs
  src/ImageSharp/Metadata/Profiles/Exif/Tags/ExifTag.Long.cs
  src/ImageSharp/Metadata/Profiles/Exif/Tags/ExifTag.LongArray.cs
  src/ImageSharp/Metadata/Profiles/Exif/Tags/ExifTag.Number.cs
  src/ImageSharp/Metadata/Profiles/Exif/Tags/ExifTag.NumberArray.cs
  src/ImageSharp/Metadata/Profiles/Exif/Tags/ExifTag.Short.cs
  src/ImageSharp/Metadata/Profiles/Exif/Tags/ExifTag.ShortArray.cs
  src/ImageSharp/Metadata/Profiles/Exif/Values/ExifNumberArray.cs
  src/ImageSharp/Metadata/Profiles/Exif/Values/ExifValues.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffMetadataTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffTestUtils.cs
  tests/ImageSharp.Tests/Metadata/Profiles/Exif/ExifProfileTests.cs
  tests/ImageSharp.Tests/Metadata/Profiles/Exif/ExifReaderTests.cs
  tests/ImageSharp.Tests/Metadata/Profiles/Exif/ExifTagDescriptionAttributeTests.cs
  tests/ImageSharp.Tests/Metadata/Profiles/Exif/ExifValueTests.cs
  tests/ImageSharp.Tests/Metadata/Profiles/Exif/Values/ExifValuesTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/moy.tiff
Labels: formats:tiff
