Repository SixLabors/ImageSharp, pull requests merged in 2021-11, with the labels that each got.

#1800 Webp: Use byte arrays instead of Dictionary's for lookups
  src/ImageSharp/Formats/Webp/Lossy/LossyUtils.cs
  src/ImageSharp/Formats/Webp/WebpLookupTables.cs
Labels: area:performance, formats:webp

#1804 Add sse2 version of select
  src/ImageSharp/Formats/Webp/Lossless/LosslessUtils.cs
  src/ImageSharp/Formats/Webp/Lossless/PredictorEncoder.cs
  tests/ImageSharp.Tests/Formats/WebP/LosslessUtilsTests.cs
Labels: area:performance, formats:webp

#1803 Use helper methods to access clip tables
  src/ImageSharp/Formats/Webp/BitReader/Vp8BitReader.cs
  src/ImageSharp/Formats/Webp/BitReader/Vp8LBitReader.cs
  src/ImageSharp/Formats/Webp/Lossy/LossyUtils.cs
  src/ImageSharp/Formats/Webp/WebpLookupTables.cs
Labels: formats:webp

#1799 Webp encoding: Reduce allocations.
  src/ImageSharp/Formats/Webp/Lossless/BackwardReferenceEncoder.cs
  src/ImageSharp/Formats/Webp/Lossless/HistogramEncoder.cs
  src/ImageSharp/Formats/Webp/Lossless/HuffmanTree.cs
  src/ImageSharp/Formats/Webp/Lossless/HuffmanUtils.cs
  src/ImageSharp/Formats/Webp/Lossless/LosslessUtils.cs
  src/ImageSharp/Formats/Webp/Lossless/PixOrCopy.cs
  src/ImageSharp/Formats/Webp/Lossless/PredictorEncoder.cs
  src/ImageSharp/Formats/Webp/Lossless/Vp8LEncoder.cs
  src/ImageSharp/Formats/Webp/Lossless/Vp8LHistogram.cs
  src/ImageSharp/Formats/Webp/Lossless/Vp8LStreaks.cs
  src/ImageSharp/Formats/Webp/Lossless/WebpLosslessDecoder.cs
  src/ImageSharp/Formats/Webp/Lossy/LossyUtils.cs
  src/ImageSharp/Formats/Webp/Lossy/QuantEnc.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8EncIterator.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Encoder.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Encoding.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Histogram.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8ModeScore.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Residual.cs
  src/ImageSharp/Formats/Webp/Lossy/WebpLossyDecoder.cs
  src/ImageSharp/Formats/Webp/WebpCommonUtils.cs
  tests/ImageSharp.Tests/Formats/WebP/PredictorEncoderTests.cs
Labels: formats:webp

#1805 Add SSE2 versions of ClampedAddSubtractFull and ClampedAddSubtractHalf
  src/ImageSharp/Formats/Webp/Lossless/ColorCache.cs
  src/ImageSharp/Formats/Webp/Lossless/LosslessUtils.cs
  tests/ImageSharp.Tests/Formats/WebP/LosslessUtilsTests.cs
Labels: area:performance, formats:webp

#1801 Support High Precision TPixel formats via Color - Boxed
  src/ImageSharp/Color/Color.Conversions.cs
  src/ImageSharp/Color/Color.cs
  tests/ImageSharp.Tests/Color/ColorTests.CastTo.cs
Labels: enhancement

#1808 Make sure magick.net and imagesharp use the same configuration for webp encoding
  src/ImageSharp/Formats/Webp/IWebpEncoderOptions.cs
  src/ImageSharp/Formats/Webp/WebpEncoder.cs
  tests/ImageSharp.Benchmarks/Codecs/DecodeWebp.cs
  tests/ImageSharp.Benchmarks/Codecs/EncodeWebp.cs
Labels: formats:webp

#1815 Collapse AsSpan().Slice(..) calls into AsSpan(..)
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Webp/WebpDecoderCore.cs
  src/ImageSharp/IO/ChunkedMemoryStream.cs
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeKernelMap.cs
Labels: codequality

#1810 SSE41 version of Hadamard transform
  src/ImageSharp/Formats/Webp/Lossy/LossyUtils.cs
  tests/ImageSharp.Tests/Formats/WebP/LossyUtilsTests.cs
Labels: area:performance, formats:webp

#1811 Add SSE41 version of Quantize block
  src/ImageSharp/Formats/Webp/Lossy/QuantEnc.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Encoder.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Matrix.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8SegmentInfo.cs
  tests/ImageSharp.Tests/Formats/WebP/QuantEncTests.cs
Labels: area:performance, formats:webp

#1814 Add SSE2 version of Mean16x4
  src/ImageSharp/Formats/Webp/Lossy/LossyUtils.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8EncIterator.cs
  src/ImageSharp/Formats/Webp/Lossy/WebpLossyDecoder.cs
  src/ImageSharp/Formats/Webp/Lossy/YuvConversion.cs
  tests/ImageSharp.Tests/Formats/WebP/LossyUtilsTests.cs
Labels: area:performance, formats:webp

#1817 Add SSE2 version of Vp8Sse4X4
  src/ImageSharp/Formats/Webp/Lossy/LossyUtils.cs
  src/ImageSharp/Formats/Webp/Lossy/QuantEnc.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Encoding.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Histogram.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8ModeScore.cs
  tests/ImageSharp.Tests/Formats/WebP/LossyUtilsTests.cs
Labels: area:performance, formats:webp

#1818 Hoist some of the calculations from loops of 3DMoments()
  src/ImageSharp/Processing/Processors/Quantization/WuQuantizer{TPixel}.cs
  tests/ImageSharp.Benchmarks/Codecs/EncodeIndexedPng.cs
Labels: area:performance

#1819 Add sse2 version of inverse transform
  src/ImageSharp/Formats/Webp/Lossy/LossyUtils.cs
  src/ImageSharp/Formats/Webp/Lossy/QuantEnc.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Encoding.cs
  tests/ImageSharp.Tests/Formats/WebP/Vp8EncodingTests.cs
Labels: area:performance, formats:webp

#1824 Add AVX version of CollectColorBlueTransforms and CollectColorRedTransforms
  src/ImageSharp/Formats/Webp/Lossless/ColorSpaceTransformUtils.cs
  src/ImageSharp/Formats/Webp/Lossless/LosslessUtils.cs
  src/ImageSharp/Formats/Webp/Lossless/PredictorEncoder.cs
  tests/ImageSharp.Tests/Formats/WebP/ColorSpaceTransformUtilsTests.cs
  tests/ImageSharp.Tests/Formats/WebP/PredictorEncoderTests.cs
Labels: area:performance, formats:webp

#1830 Add AVX version of TransformColor and TransformColorInverse
  src/ImageSharp/Formats/Webp/Lossless/LosslessUtils.cs
  tests/ImageSharp.Tests/Formats/WebP/LosslessUtilsTests.cs
Labels: area:performance, formats:webp

#1834 Fix gaussian blurring changing the blur colour when transperancy is used
  src/ImageSharp/Processing/Processors/Convolution/Convolution2PassProcessor{TPixel}.cs
  tests/ImageSharp.Tests/Processing/Processors/Convolution/Basic1ParameterConvolutionTests.cs
  tests/Images/External/ReferenceOutput/Convolution/BoxBlurTest/InBox_Rgba32_blur_3.png
  tests/Images/External/ReferenceOutput/Convolution/BoxBlurTest/InBox_Rgba32_blur_5.png
  tests/Images/External/ReferenceOutput/Convolution/BoxBlurTest/OnFullImage_Rgba32_blur_3.png
  tests/Images/External/ReferenceOutput/Convolution/BoxBlurTest/OnFullImage_Rgba32_blur_5.png
  tests/Images/External/ReferenceOutput/Convolution/GaussianBlurTest/InBox_Rgba32_blur_3.png
  tests/Images/External/ReferenceOutput/Convolution/GaussianBlurTest/InBox_Rgba32_blur_5.png
  tests/Images/External/ReferenceOutput/Convolution/GaussianBlurTest/OnFullImage_Rgba32_blur_3.png
  tests/Images/External/ReferenceOutput/Convolution/GaussianBlurTest/OnFullImage_Rgba32_blur_5.png
  tests/Images/External/ReferenceOutput/Convolution/GaussianSharpenTest/InBox_Rgba32_blur_3.png
  tests/Images/External/ReferenceOutput/Convolution/GaussianSharpenTest/InBox_Rgba32_blur_5.png
  tests/Images/External/ReferenceOutput/Convolution/GaussianSharpenTest/OnFullImage_Rgba32_blur_3.png
  tests/Images/External/ReferenceOutput/Convolution/GaussianSharpenTest/OnFullImage_Rgba32_blur_5.png
Labels: bug

#1849 Add AVX2 version of AddVector
  src/ImageSharp/Formats/Webp/Lossless/LosslessUtils.cs
  src/ImageSharp/Formats/Webp/Lossless/Vp8LHistogram.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Histogram.cs
  tests/ImageSharp.Tests/Formats/WebP/LosslessUtilsTests.cs
  tests/ImageSharp.Tests/Formats/WebP/Vp8LHistogramTests.cs
Labels: area:performance, formats:webp

#1836 Add SSE41 version of UpSample
  src/ImageSharp/Formats/Webp/Lossy/Vp8Decoder.cs
  src/ImageSharp/Formats/Webp/Lossy/WebpLossyDecoder.cs
  src/ImageSharp/Formats/Webp/Lossy/YuvConversion.cs
  tests/ImageSharp.Tests/Formats/WebP/YuvConversionTests.cs
Labels: area:performance, formats:webp

#1848 Add AVX2 versions of CombinedShannonEntropy
  src/ImageSharp/Common/Helpers/Numerics.cs
  src/ImageSharp/Formats/Webp/Lossless/LosslessUtils.cs
  tests/ImageSharp.Tests/Formats/WebP/LosslessUtilsTests.cs
Labels: area:performance, formats:webp

#1856 Added missing CancellationToken parameters to Image
  src/ImageSharp/Image.FromFile.cs
  src/ImageSharp/Image.FromStream.cs
Labels: API

#1852 Add SSE2 version of FTransform
  src/ImageSharp/Formats/Webp/Lossy/QuantEnc.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Encoding.cs
  tests/ImageSharp.Tests/Formats/WebP/Vp8EncodingTests.cs
Labels: area:performance, formats:webp

#1860 Add AVX2 version of Vp8_Sse4X4
  src/ImageSharp/Formats/Webp/Lossy/LossyUtils.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8EncIterator.cs
  tests/ImageSharp.Tests/Formats/WebP/LossyUtilsTests.cs
Labels: area:performance, formats:webp

#1853 Jpeg codebase cleanup
  src/ImageSharp/Formats/Jpeg/Components/Block8x8.Intrinsic.cs
  src/ImageSharp/Formats/Jpeg/Components/Block8x8.cs
  src/ImageSharp/Formats/Jpeg/Components/Block8x8F.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverter.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/IRawJpegData.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegBlockPostProcessor.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegComponentPostProcessor.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/SpectralConverter.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/SpectralConverter{TPixel}.cs
  src/ImageSharp/Formats/Jpeg/Components/Encoder/HuffmanScanEncoder.cs
  src/ImageSharp/Formats/Jpeg/Components/Encoder/LuminanceForwardConverter{TPixel}.cs
  src/ImageSharp/Formats/Jpeg/Components/Encoder/RgbForwardConverter{TPixel}.cs
  src/ImageSharp/Formats/Jpeg/Components/Encoder/YCbCrForwardConverter420{TPixel}.cs
  src/ImageSharp/Formats/Jpeg/Components/Encoder/YCbCrForwardConverter444{TPixel}.cs
  src/ImageSharp/Formats/Jpeg/Components/GenericBlock8x8.Generated.cs
  src/ImageSharp/Formats/Jpeg/Components/GenericBlock8x8.Generated.tt
  src/ImageSharp/Formats/Jpeg/Components/GenericBlock8x8.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/JpegTiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/RgbJpegSpectralConverter.cs
  src/ImageSharp/ImageSharp.csproj
  tests/ImageSharp.Tests.ProfilingSandbox/Program.cs
  tests/ImageSharp.Tests/Formats/Jpg/Block8x8FTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/Block8x8Tests.cs
  tests/ImageSharp.Tests/Formats/Jpg/GenericBlock8x8Tests.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegColorConverterTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/ReferenceImplementationsTests.FastFloatingPointDCT.cs
  tests/ImageSharp.Tests/Formats/Jpg/ReferenceImplementationsTests.StandardIntegerDCT.cs
  tests/ImageSharp.Tests/Formats/Jpg/SpectralToPixelConversionTests.cs
Labels: area:performance, formats:jpeg, codequality
