Repository SixLabors/ImageSharp, pull requests merged in 2022-03, with the labels that each got.

#2034 Allow pad to work for non-alpha pixel formats
  src/ImageSharp/Processing/Extensions/Transforms/PadExtensions.cs
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeProcessor.cs
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeProcessor{TPixel}.cs
  src/ImageSharp/Processing/ResizeOptions.cs
  tests/ImageSharp.Tests/Processing/Processors/Transforms/PadTest.cs
  tests/ImageSharp.Tests/Processing/Transforms/PadTest.cs
  tests/ImageSharp.Tests/Processing/Transforms/ResizeTests.cs
Labels: enhancement

#2023 Minor PNG Encoding Optimization for DeflaterEngine and WuQuantizer
  src/ImageSharp/Compression/Zlib/DeflaterEngine.cs
  src/ImageSharp/Processing/Processors/Quantization/WuQuantizer{TPixel}.cs
Labels: formats:png

#2050 Ensure PixelOperations.To(TPixel) uses scaling.
  src/ImageSharp/ImageFrame{TPixel}.cs
  src/ImageSharp/Metadata/Profiles/Exif/Tags/ExifTag.String.cs
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/RgbaVector.PixelOperations.cs
  src/ImageSharp/PixelFormats/PixelOperations{TPixel}.cs
  tests/ImageSharp.Tests.ruleset
  tests/ImageSharp.Tests/PixelFormats/PixelOperations/PixelOperationsTests.cs
  tests/ImageSharp.Tests/PixelFormats/RgbaVectorTests.cs
  tests/ImageSharp.Tests/TestUtilities/TestPixel.cs
Labels: bug

#2047 TIFF: Add support for horizontal predictor with alpha data
  src/ImageSharp/Formats/Tiff/Compression/HorizontalPredictor.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/RgbaUnassociatedAlphaPredictor16bit_lsb.tiff
  tests/Images/Input/Tiff/RgbaUnassociatedAlphaPredictor16bit_msb.tiff
  tests/Images/Input/Tiff/RgbaUnassociatedAlphaPredictor32bit_lsb.tiff
  tests/Images/Input/Tiff/RgbaUnassociatedAlphaPredictor32bit_msb.tiff
  tests/Images/Input/Tiff/RgbaUnassociatedAlphaPredictor8bit.tiff
Labels: formats:tiff

#2059 Fix null reference exception on Exif clone of null ExifArrayValue
  src/ImageSharp/Metadata/Profiles/Exif/Values/ExifValue.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Metadata.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/issue-2056-exif-null-array.jpg
Labels: metadata:exif

#2058 Fix issue with app1 parsing
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Metadata.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/Issue2057-App1Parsing.jpg
Labels: bug, formats:jpeg

#2052 Fix resize pad color application for non Nearest Neighbor samplers
  src/ImageSharp/Processing/Extensions/Transforms/PadExtensions.cs
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeKernelMap.cs
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeWorker.cs
  tests/ImageSharp.Tests/Processing/Processors/Transforms/ResizeTests.cs
  tests/Images/External/ReferenceOutput/ResizeTests/ResizeWithBoxPadMode_CalliphoraPartial.png
  tests/Images/External/ReferenceOutput/ResizeTests/ResizeWithPadMode_CalliphoraPartial.png
Labels: bug

#2062 Add support for decoding Tiff images with associated alpha data
  src/ImageSharp/Formats/Bmp/BmpDecoderCore.cs
  src/ImageSharp/Formats/Tiff/Constants/TiffCompression.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/BlackIsZero16TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/BlackIsZero24TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/BlackIsZero32FloatTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/BlackIsZero32TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/BlackIsZeroTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/PaletteTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgb161616TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgb16PlanarTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgb242424TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgb24PlanarTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgb323232TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgb32PlanarTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/RgbFloat323232TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/RgbPlanarTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/RgbTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgba16161616TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgba16PlanarTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgba24242424TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgba24PlanarTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgba32323232TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgba32PlanarTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/Rgba8888TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/RgbaFloat32323232TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/RgbaPlanarTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/RgbaTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/TiffColorDecoderFactory{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/WhiteIsZero16TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/WhiteIsZero24TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/WhiteIsZero32FloatTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/WhiteIsZero32TiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/WhiteIsZeroTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/README.md
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  src/ImageSharp/Formats/Tiff/Utils/TiffUtils.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderBaseTester.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/RgbaAlpha8bit.tiff
  tests/Images/Input/Tiff/RgbaAssociatedAlpha10bit_lsb.tiff
  tests/Images/Input/Tiff/RgbaAssociatedAlpha10bit_msb.tiff
  tests/Images/Input/Tiff/RgbaAssociatedAlpha12bit_lsb.tiff
  tests/Images/Input/Tiff/RgbaAssociatedAlpha12bit_msb.tiff
  tests/Images/Input/Tiff/RgbaAssociatedAlpha14bit_lsb.tiff
  tests/Images/Input/Tiff/RgbaAssociatedAlpha14bit_msb.tiff
  tests/Images/Input/Tiff/RgbaAssociatedAlpha16bit_lsb.tiff
  tests/Images/Input/Tiff/RgbaAssociatedAlpha16bit_msb.tiff
  tests/Images/Input/Tiff/RgbaAssociatedAlpha3bit.tiff
  tests/Images/Input/Tiff/RgbaAssociatedAlpha4bit.tiff
  tests/Images/Input/Tiff/RgbaAssociatedAlpha5bit.tiff
  tests/Images/Input/Tiff/RgbaAssociatedAlpha6bit.tiff
Labels: formats:tiff

#2065 naming corrections - macOS and .NET
  src/ImageSharp/Metadata/Profiles/Exif/ExifReader.cs
  src/ImageSharp/Processing/Processors/Transforms/Linear/AffineTransformProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Transforms/Linear/ProjectiveTransformProcessor{TPixel}.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/Helpers/RuntimeEnvironmentTests.cs
  tests/ImageSharp.Tests/Memory/Allocators/UniformUnmanagedMemoryPoolTests.Trim.cs
  tests/ImageSharp.Tests/Memory/Allocators/UniformUnmanagedMemoryPoolTests.cs
  tests/ImageSharp.Tests/Memory/Allocators/UniformUnmanagedPoolMemoryAllocatorTests.cs
  tests/ImageSharp.Tests/Processing/Processors/Transforms/ResizeTests.cs
  tests/ImageSharp.Tests/TestUtilities/ImageComparison/Exceptions/ImageDifferenceIsOverThresholdException.cs
  tests/ImageSharp.Tests/TestUtilities/TestEnvironment.cs
Labels: codequality

#2066 Add non-generic overload for ExifProfile.CreateThumbnail<TPixel>().
  src/ImageSharp/Metadata/Profiles/Exif/ExifProfile.cs
  tests/ImageSharp.Tests/Metadata/Profiles/Exif/ExifProfileTests.cs
Labels: metadata:exif, API
