Repository SixLabors/ImageSharp, pull requests merged in 2022-07, with the labels that each got.

#2175 Print environment info on tests start
  tests/ImageSharp.Tests/ImageSharp.Tests.csproj
  tests/ImageSharp.Tests/TestUtilities/SixLaborsXunitTestFramework.cs
Labels: unit tests

#2076 Jpeg downscaling decoding
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ArithmeticScanDecoder.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverterAvx.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverterBase.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverterScalar.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ColorConverters/JpegColorConverterVector.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ComponentProcessors/ComponentProcessor.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ComponentProcessors/DirectComponentProcessor.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ComponentProcessors/DownScalingComponentProcessor2.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ComponentProcessors/DownScalingComponentProcessor4.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ComponentProcessors/DownScalingComponentProcessor8.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/HuffmanScanDecoder.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegComponentPostProcessor.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegFrame.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/SpectralConverter.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/SpectralConverter{TPixel}.cs
  src/ImageSharp/Formats/Jpeg/Components/Encoder/HuffmanScanEncoder.cs
  src/ImageSharp/Formats/Jpeg/Components/FloatingPointDCT.Intrinsic.cs
  src/ImageSharp/Formats/Jpeg/Components/FloatingPointDCT.cs
  src/ImageSharp/Formats/Jpeg/Components/ScaledFloatingPointDCT.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoder.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/DecodeJpeg.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/DecodeJpegParseStreamOnly.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/LoadResizeSave_Aggregate.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/LoadResizeSave_ImageSpecific.cs
  tests/ImageSharp.Benchmarks/LoadResizeSave/LoadResizeSaveStressBenchmarks.cs
  tests/ImageSharp.Benchmarks/LoadResizeSave/LoadResizeSaveStressRunner.cs
  tests/ImageSharp.Tests/Formats/Jpg/DCTTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/ReferenceImplementationsTests.FastFloatingPointDCT.cs
  tests/ImageSharp.Tests/Formats/Jpg/SpectralConverterTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/SpectralJpegTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/Utils/JpegFixture.cs
Labels: enhancement, formats:jpeg

#2127 Add support for decoding tiff images with CieLab color space
  src/ImageSharp/Formats/Tiff/Compression/HorizontalPredictor.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/CieLabPlanarTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/CieLabTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/TiffColorDecoderFactory{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/TiffColorType.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/YCbCrPlanarTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/YCbCrTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/README.md
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_CieLab_Rgba32_CieLab.png
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_CieLab_Rgba32_CieLabPlanar.png
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_CieLab_Rgba32_CieLab_lzwcompressed_predictor.png
  tests/Images/Input/Tiff/CieLab.tiff
  tests/Images/Input/Tiff/CieLabPlanar.tiff
  tests/Images/Input/Tiff/CieLab_lzwcompressed_predictor.tiff
Labels: formats:tiff

#2177 Jpeg color space deduction fix
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/JpegTiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/RgbJpegSpectralConverter.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/TiffJpegSpectralConverter{TPixel}.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Internal.cs
Labels: bug, formats:jpeg

#2128 Add support for decoding tiff with webp compressed data
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/WebpTiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/TiffDecoderCompressionType.cs
  src/ImageSharp/Formats/Tiff/Compression/TiffDecompressorsFactory.cs
  src/ImageSharp/Formats/Tiff/Constants/TiffCompression.cs
  src/ImageSharp/Formats/Tiff/README.md
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/webp_compressed.tiff
Labels: formats:tiff

#2173 Fix issue when writing lossy webp with alpha data
  src/ImageSharp/Formats/Webp/Lossy/Vp8Encoder.cs
  tests/ImageSharp.Tests/Formats/WebP/Vp8LHistogramTests.cs
  tests/ImageSharp.Tests/Formats/WebP/Vp8ResidualTests.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpEncoderTests.cs
  tests/ImageSharp.Tests/TestUtilities/ReferenceCodecs/MagickReferenceDecoder.cs
  tests/ImageSharp.Tests/TestUtilities/TestImageExtensions.cs
Labels: bug, formats:webp

#2172 Fix run-length encode compression implementation mistake in tga encoder
  src/ImageSharp/Formats/Tga/TgaEncoderCore.cs
Labels: bug, formats:tga
