Repository SixLabors/ImageSharp, pull requests merged in 2022-05, with the labels that each got.

#2073 Add support for decoding jpeg's with arithmetic coding
  src/ImageSharp/Formats/Bmp/BmpDecoderCore.cs
  src/ImageSharp/Formats/Jpeg/Components/ComponentType.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ArithmeticDecodingComponent.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ArithmeticDecodingTable.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ArithmeticScanDecoder.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/ArithmeticStatistics.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/HuffmanScanDecoder.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/HuffmanTable.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/IJpegComponent.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/IJpegScanDecoder.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/IRawJpegData.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegBitReader.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegComponent.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegComponentPostProcessor.cs
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegFrame.cs
  src/ImageSharp/Formats/Jpeg/JpegConstants.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/JpegTiffCompression.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/DecodeJpegParseStreamOnly.cs
  tests/ImageSharp.Benchmarks/LoadResizeSave/LoadResizeSaveStressRunner.cs
  tests/ImageSharp.Tests.ProfilingSandbox/LoadResizeSaveParallelMemoryStress.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Baseline.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Images.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Progressive.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/ParseStreamTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/SpectralJpegTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/SpectralToPixelConversionTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/Utils/LibJpegTools.ComponentData.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/Image/ImageTests.Decode_Cancellation.cs
  tests/ImageSharp.Tests/TestFormat.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/baseline/Calliphora-arithmetic-grayscale.jpg
  tests/Images/Input/Jpg/baseline/Calliphora-arithmetic-interleaved.jpg
  tests/Images/Input/Jpg/baseline/Calliphora-arithmetic-restart.jpg
  tests/Images/Input/Jpg/baseline/Calliphora_arithmetic.jpg
  tests/Images/Input/Jpg/progressive/Calliphora-arithmetic-progressive-interleaved.jpg
Labels: formats:jpeg

#2108 Preserve color profile when encoding bitmaps
  src/ImageSharp/Formats/Bmp/BmpColorSpace.cs
  src/ImageSharp/Formats/Bmp/BmpDecoderCore.cs
  src/ImageSharp/Formats/Bmp/BmpEncoderCore.cs
  src/ImageSharp/Formats/Bmp/BmpFileHeader.cs
  src/ImageSharp/Formats/Bmp/BmpInfoHeader.cs
  src/ImageSharp/Formats/Bmp/BmpRenderingIntent.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Bmp/BmpMetadataTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Bmp/BMP_v5_with_ICC_2.bmp
Labels: formats:bmp, metadata:icc

#2109 Preserve color profile when encoding webp images
  src/ImageSharp/Formats/Webp/BitWriter/BitWriterBase.cs
  src/ImageSharp/Formats/Webp/BitWriter/Vp8BitWriter.cs
  src/ImageSharp/Formats/Webp/BitWriter/Vp8LBitWriter.cs
  src/ImageSharp/Formats/Webp/Lossless/Vp8LEncoder.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Encoder.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpMetaDataTests.cs
Labels: metadata:icc, formats:webp

#2110 Preserve color profile when encoding PNG images
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.Chunks.cs
  tests/ImageSharp.Tests/Formats/Png/PngMetadataTests.cs
Labels: formats:png, metadata:icc

#2126 Backport - Issue 2123
  .github/workflows/build-and-test.yml
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Jpeg/JpegThrowHelper.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/YCbCrTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  tests/Directory.Build.targets
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_YCbCr_24Bit_Rgba32_flower-ycbcr-contig-08_h1v1.png
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_YCbCr_24Bit_Rgba32_flower-ycbcr-contig-08_h2v1.png
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_YCbCr_24Bit_Rgba32_flower-ycbcr-contig-08_h2v2.png
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_YCbCr_24Bit_Rgba32_flower-ycbcr-contig-08_h4v4.png
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_YCbCr_24Bit_Rgba32_flower-ycbcr-planar-08_h1v1.png
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_YCbCr_24Bit_Rgba32_rgb-ycbcr-contig-08_h2v2.png
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_YCbCr_24Bit_Rgba32_rgb-ycbcr-contig-08_h4v4.png
  tests/Images/Input/Tiff/Issues/Issue2123.tiff
  tests/Images/Input/Tiff/rgb_jpegcompressed_nojpegtable.tiff
  tests/Images/Input/Tiff/twain-rgb-jpeg-with-bogus-ycbcr-subsampling.tiff
  tests/Images/Input/Tiff/ycbcr_jpegcompressed2.tiff
Labels: bug, formats:tiff

#2124 Jpeg compressed tiff: jpeg decoder should handle the conversion from YCbCr to RGB
  src/ImageSharp/Common/Helpers/Numerics.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Jpeg/JpegThrowHelper.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/JpegTiffCompression.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/YCbCrConverter.cs
  src/ImageSharp/Formats/Tiff/PhotometricInterpretation/YCbCrTiffColor{TPixel}.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  tests/Directory.Build.targets
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_YCbCr_24Bit_Rgba32_flower-ycbcr-contig-08_h1v1.png
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_YCbCr_24Bit_Rgba32_flower-ycbcr-contig-08_h2v1.png
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_YCbCr_24Bit_Rgba32_flower-ycbcr-contig-08_h2v2.png
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_YCbCr_24Bit_Rgba32_flower-ycbcr-contig-08_h4v4.png
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_YCbCr_24Bit_Rgba32_flower-ycbcr-planar-08_h1v1.png
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_YCbCr_24Bit_Rgba32_rgb-ycbcr-contig-08_h2v2.png
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_YCbCr_24Bit_Rgba32_rgb-ycbcr-contig-08_h4v4.png
  tests/Images/Input/Tiff/Issues/Issue2123.tiff
  tests/Images/Input/Tiff/rgb-ycbcr-contig-08_h2v1.tiff
  tests/Images/Input/Tiff/rgb_jpegcompressed_nojpegtable.tiff
  tests/Images/Input/Tiff/twain-rgb-jpeg-with-bogus-ycbcr-subsampling.tiff
  tests/Images/Input/Tiff/ycbcr_jpegcompressed2.tiff
Labels: bug, formats:tiff

#2135 Deduce color space as YCbCr if component id's are 1, 2, 3
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/Issue2133.jpg
Labels: formats:jpeg
