Repository SixLabors/ImageSharp, pull requests merged in 2022-11, with the labels that each got.

#2290 Add support for decoding tiled tiff images
  src/ImageSharp/Formats/Tiff/README.md
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  src/ImageSharp/Metadata/Profiles/Exif/Tags/ExifTag.LongArray.cs
  src/ImageSharp/Metadata/Profiles/Exif/Tags/ExifTag.NumberArray.cs
  src/ImageSharp/Metadata/Profiles/Exif/Values/ExifValues.cs
  tests/ImageSharp.Tests/Formats/Tiff/BigTiffDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/Metadata/Profiles/Exif/Values/ExifValuesTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/quad-tile.tiff
  tests/Images/Input/Tiff/rgb_uncompressed_tiled_chunky.tiff
  tests/Images/Input/Tiff/rgb_uncompressed_tiled_planar.tiff
  tests/Images/Input/Tiff/tiled.tiff
Labels: enhancement, formats:tiff

#2289 Fix various Gif Decoder/Encoder behaviors.
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  src/ImageSharp/Formats/Gif/GifEncoderCore.cs
  src/ImageSharp/Formats/Gif/GifFrameMetadata.cs
  src/ImageSharp/Formats/Gif/GifMetadata.cs
  src/ImageSharp/Formats/Gif/GifThrowHelper.cs
  src/ImageSharp/Formats/Gif/MetadataExtensions.cs
  src/ImageSharp/Formats/Gif/Sections/GifGraphicControlExtension.cs
  src/ImageSharp/Formats/Gif/Sections/GifXmpApplicationExtension.cs
  src/ImageSharp/Formats/ImageDecoderUtilities.cs
  src/ImageSharp/Metadata/ImageFrameMetadata.cs
  src/ImageSharp/Processing/Processors/Quantization/OctreeQuantizer{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/PaletteQuantizer.cs
  tests/ImageSharp.Tests/Formats/Gif/GifEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderMultiframeTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/ImageSharp.Tests/TestUtilities/ImageComparison/ExactImageComparer.cs
  tests/ImageSharp.Tests/TestUtilities/ImageComparison/Exceptions/ImageDifferenceIsOverThresholdException.cs
  tests/ImageSharp.Tests/TestUtilities/ImageComparison/ImageComparer.cs
  tests/ImageSharp.Tests/TestUtilities/ImageComparison/ImageSimilarityReport.cs
  tests/ImageSharp.Tests/TestUtilities/ImageComparison/TolerantImageComparer.cs
  tests/Images/Input/Gif/issues/issue_2288.gif
  tests/Images/Input/Gif/issues/issue_2288_2.gif
  tests/Images/Input/Gif/issues/issue_2288_3.gif
  tests/Images/Input/Gif/issues/issue_2288_4.gif
Labels: bug, formats:gif

#2298 Fix small deviation to the spec when encoding tiff images
  src/ImageSharp/Formats/Tiff/TiffEncoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderEntriesCollector.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffMetadataTests.cs
  tests/Images/Input/Tiff/metadata_sample.tiff
Labels: bug, formats:tiff
