Repository SixLabors/ImageSharp, pull requests merged in 2022-01, with the labels that each got.

#1922 Fixed Jpeg IDCT missing scalar implementation
  src/ImageSharp/Formats/Jpeg/Components/FastFloatingPointDCT.cs
  tests/ImageSharp.Tests/Formats/Jpg/DCTTests.cs
Labels: bug, formats:jpeg

#1877 Added support for loading exif data from PNG "Raw profile type exif" text chunk
  src/ImageSharp/Common/Helpers/HexConverter.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Png/PngMetadataTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/raw-profile-type-exif.png
Labels: formats:png, metadata:exif

#1907 Don't throw when Position is out of range.
  src/ImageSharp/IO/ChunkedMemoryStream.cs
  tests/Directory.Build.targets
  tests/ImageSharp.Tests/Image/ImageTests.Identify.cs
  tests/ImageSharp.Tests/ImageSharp.Tests.csproj
Labels: bug

#1924 Jpeg ArgumentException fix
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Jpeg/JpegThrowHelper.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Images.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/issue-1900-malformed-unsupported-255-components.jpg
Labels: bug, formats:jpeg

#1923 EXIF IDF pointer
  src/ImageSharp/Metadata/Profiles/Exif/ExifWriter.cs
  tests/ImageSharp.Tests/Metadata/Profiles/Exif/ExifProfileTests.cs
Labels: bug, formats:tiff

#1931 Fix for Jpeg Metadata Decoding with unknown APP13 profile
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
Labels: bug, formats:jpeg

#1934 Use a scheduled job for codecov
  .github/workflows/build-and-test.yml
  .github/workflows/code-coverage.yml
  ImageSharp.sln
Labels: area:build

#1929 Change the constructor of PixelTypeInfo and ImageMetadata from internal to public so that a user can implement IImageInfo
  src/ImageSharp/Formats/PixelTypeInfo.cs
  src/ImageSharp/Metadata/ImageMetadata.cs
Labels: API

#1933 Only attempt to decode the first JFIF marker instance
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JFifMarker.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Metadata.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/issue-1932-app0-resolution.jpg
Labels: bug, formats:jpeg, area:metadata

#1936 ImageFormatDetector Configuration Cleanup
  src/ImageSharp/Configuration.cs
  src/ImageSharp/Formats/ImageFormatManager.cs
Labels: area:formats, API, breaking

#1944 Fix for issue #1942
  src/ImageSharp/Metadata/Profiles/IPTC/IptcProfile.cs
  src/ImageSharp/Metadata/Profiles/IPTC/IptcTagExtensions.cs
  src/ImageSharp/Metadata/Profiles/IPTC/IptcValue.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Metadata.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/Issue1942InvalidIptcTag.jpg
Labels: bug, metadata:iptc

#1930 SSE2 / AVX2 of webp AlphaDecoding
  src/ImageSharp/Formats/Webp/AlphaDecoder.cs
  src/ImageSharp/Formats/Webp/Lossless/LosslessUtils.cs
  tests/ImageSharp.Tests/Formats/GeneralFormatTests.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpDecoderTests.cs
Labels: area:performance, formats:webp

#1947 Ensure ResizeProcessor working buffer is contiguous
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeWorker.cs
  tests/ImageSharp.Tests/Processing/Processors/Transforms/ResizeTests.cs
  tests/Images/External/ReferenceOutput/ResizeTests/Issue1625_LimitedAllocator.png
Labels: bug, area:transforms

#1945 Correctly handle identity transforms with varying dimensions
  src/ImageSharp/Memory/Buffer2DRegion{T}.cs
  src/ImageSharp/Processing/Processors/CloningImageProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Transforms/Linear/AffineTransformProcessor.cs
  src/ImageSharp/Processing/Processors/Transforms/Linear/AffineTransformProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Transforms/Linear/LinearTransformUtility.cs
  src/ImageSharp/Processing/Processors/Transforms/Linear/ProjectiveTransformProcessor.cs
  src/ImageSharp/Processing/Processors/Transforms/Linear/ProjectiveTransformProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Transforms/Resize/ResizeWorker.cs
  tests/ImageSharp.Tests/Memory/BufferAreaTests.cs
  tests/ImageSharp.Tests/Processing/Processors/Transforms/AffineTransformTests.cs
  tests/ImageSharp.Tests/Processing/Transforms/ProjectiveTransformTests.cs
  tests/ImageSharp.Tests/Quantization/PixelSamplingStrategyTests.cs
  tests/Images/External/ReferenceOutput/AffineTransformTests/Identity_Rgba32_TestPattern100x100.png
  tests/Images/External/ReferenceOutput/AffineTransformTests/Transform_FromSourceRectangle1_Rgba32_TestPattern96x48.png
  tests/Images/External/ReferenceOutput/AffineTransformTests/Transform_FromSourceRectangle2_Rgba32_TestPattern96x48.png
  tests/Images/External/ReferenceOutput/AffineTransformTests/Transform_With_Custom_Dimensions_Rgba32_TestPattern100x100_0.0001.png
  tests/Images/External/ReferenceOutput/AffineTransformTests/Transform_With_Custom_Dimensions_Rgba32_TestPattern100x100_0.png
  tests/Images/External/ReferenceOutput/AffineTransformTests/Transform_With_Custom_Dimensions_Rgba32_TestPattern100x100_57.png
  tests/Images/External/ReferenceOutput/ProjectiveTransformTests/Identity_Rgba32_TestPattern100x100.png
  tests/Images/External/ReferenceOutput/ProjectiveTransformTests/Transform_With_Custom_Dimensions_Rgba32_TestPattern100x100_0.0001.png
  tests/Images/External/ReferenceOutput/ProjectiveTransformTests/Transform_With_Custom_Dimensions_Rgba32_TestPattern100x100_0.png
  tests/Images/External/ReferenceOutput/ProjectiveTransformTests/Transform_With_Custom_Dimensions_Rgba32_TestPattern100x100_57.png
Labels: bug, area:transforms

#1961 Webp encoder now defaults to lossy, if nothing else is specified
  src/ImageSharp/Formats/Webp/IWebpEncoderOptions.cs
  src/ImageSharp/Formats/Webp/WebpEncoderCore.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpEncoderTests.cs
Labels: formats:webp

#1958 Jpeg encoder optimization via removing second transpose call from FDCT
  src/ImageSharp/Formats/Jpeg/Components/Block8x8F.cs
  src/ImageSharp/Formats/Jpeg/Components/FastFloatingPointDCT.Intrinsic.cs
  src/ImageSharp/Formats/Jpeg/Components/FastFloatingPointDCT.cs
  src/ImageSharp/Formats/Jpeg/Components/ZigZag.Intrinsic.cs
  tests/ImageSharp.Tests/Formats/Jpg/Block8x8FTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/DCTTests.cs
Labels: area:performance, formats:jpeg
