Repository SixLabors/ImageSharp, pull requests merged in 2022-10, with the labels that each got.

#2256 Tiff: Make sure bits per pixel is set to 1 for bilevel compression
  src/ImageSharp/Formats/Tiff/TiffEncoderCore.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderBaseTester.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/Issues/Issue2255.png
Labels: formats:tiff

#2258 Fix issue decoding lossy webp with alpha channel
  src/ImageSharp/Formats/Webp/AlphaDecoder.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpDecoderTests.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpEncoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Webp/issues/Issue2257.webp
Labels: bug, formats:webp

#2267 Ensure seekable streams can be read multiple times.
  src/ImageSharp/IO/BufferedReadStream.cs
  src/ImageSharp/Image.FromStream.cs
  tests/ImageSharp.Tests/Formats/GeneralFormatTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/issues/Issue_2259.png
Labels: bug

#2269 Normalize and cleanup encoders
  src/ImageSharp/Advanced/AotCompilerTools.cs
  src/ImageSharp/Formats/Bmp/BmpEncoder.cs
  src/ImageSharp/Formats/Bmp/BmpEncoderCore.cs
  src/ImageSharp/Formats/Bmp/IBmpEncoderOptions.cs
  src/ImageSharp/Formats/Gif/GifEncoder.cs
  src/ImageSharp/Formats/Gif/GifEncoderCore.cs
  src/ImageSharp/Formats/Gif/IGifEncoderOptions.cs
  src/ImageSharp/Formats/ImageDecoderUtilities.cs
  src/ImageSharp/Formats/ImageEncoder.cs
  src/ImageSharp/Formats/ImageEncoderUtilities.cs
  src/ImageSharp/Formats/Jpeg/IJpegEncoderOptions.cs
  src/ImageSharp/Formats/Jpeg/JpegEncoder.cs
  src/ImageSharp/Formats/Jpeg/JpegEncoderCore.cs
  src/ImageSharp/Formats/Pbm/PbmEncoder.cs
  src/ImageSharp/Formats/Pbm/PbmEncoderCore.cs
  src/ImageSharp/Formats/Png/IPngEncoderOptions.cs
  src/ImageSharp/Formats/Png/PngEncoder.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoderOptions.cs
  src/ImageSharp/Formats/Png/PngEncoderOptionsHelpers.cs
  src/ImageSharp/Formats/Tga/ITgaEncoderOptions.cs
  src/ImageSharp/Formats/Tga/TgaEncoder.cs
  src/ImageSharp/Formats/Tga/TgaEncoderCore.cs
  src/ImageSharp/Formats/Tiff/ITiffEncoderOptions.cs
  src/ImageSharp/Formats/Tiff/TiffEncoder.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderEntriesCollector.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffColorWriterFactory.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffPaletteWriter{TPixel}.cs
  src/ImageSharp/Formats/Webp/AlphaEncoder.cs
  src/ImageSharp/Formats/Webp/IWebpEncoderOptions.cs
  src/ImageSharp/Formats/Webp/Lossless/Vp8LEncoder.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Encoder.cs
  src/ImageSharp/Formats/Webp/WebpEncoder.cs
  src/ImageSharp/Formats/Webp/WebpEncoderCore.cs
  src/ImageSharp/ImageExtensions.Internal.cs
  src/ImageSharp/ImageFrameCollection.cs
  src/ImageSharp/ImageFrameCollection{TPixel}.cs
  src/ImageSharp/Image{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/DefaultPixelSamplingStrategy.cs
  src/ImageSharp/Processing/Processors/Quantization/ExtensivePixelSamplingStrategy.cs
  src/ImageSharp/Processing/Processors/Quantization/IPixelSamplingStrategy.cs
  src/ImageSharp/Processing/Processors/Quantization/QuantizerUtilities.cs
  tests/ImageSharp.Tests/Drawing/DrawImageTests.cs
  tests/ImageSharp.Tests/Formats/Gif/GifEncoderTests.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.Chunks.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderHeaderTests.cs
  tests/ImageSharp.Tests/Image/ImageFrameCollectionTests.Generic.cs
  tests/ImageSharp.Tests/Image/ImageFrameCollectionTests.NonGeneric.cs
  tests/ImageSharp.Tests/Quantization/PixelSamplingStrategyTests.cs
  tests/ImageSharp.Tests/TestUtilities/ReferenceCodecs/ImageSharpPngEncoderWithDefaultConfiguration.cs
Labels: area:formats, API
