Repository SixLabors/ImageSharp, pull requests merged in 2022-04, with the labels that each got.

#2077 Add missing decoder sanitation checks
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Webp/WebpDecoderCore.cs
  src/ImageSharp/Formats/Webp/WebpThrowHelper.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpMetaDataTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Webp/exif_lossy.webp
  tests/Images/Input/Webp/exif_lossy_not_enough_data.webp
Labels: bug

#2035 Add ARM versions of PNG filters
  src/ImageSharp/Formats/Png/Filters/AverageFilter.cs
  src/ImageSharp/Formats/Png/Filters/PaethFilter.cs
  src/ImageSharp/Formats/Png/Filters/SubFilter.cs
  src/ImageSharp/Formats/Png/Filters/UpFilter.cs
Labels: formats:png, arch:arm32, arch:arm64

#2098 Use .NET 6 only
  .github/workflows/build-and-test.yml
  .github/workflows/code-coverage.yml
  ImageSharp.sln
  src/ImageSharp/ImageSharp.csproj
  tests/ImageSharp.Benchmarks/ImageSharp.Benchmarks.csproj
  tests/ImageSharp.Tests.ProfilingSandbox/ImageSharp.Tests.ProfilingSandbox.csproj
  tests/ImageSharp.Tests.ProfilingSandbox/LoadResizeSaveParallelMemoryStress.cs
  tests/ImageSharp.Tests/Formats/Jpg/DCTTests.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderFilterTests.cs
  tests/ImageSharp.Tests/ImageSharp.Tests.csproj
  tests/ImageSharp.Tests/TestUtilities/FeatureTesting/FeatureTestRunner.cs
  tests/ImageSharp.Tests/TestUtilities/Tests/FeatureTestRunnerTests.cs
Labels: area:build

#2060 Convolution: Border wrapping modes
  src/ImageSharp/Processing/Extensions/Convolution/BoxBlurExtensions.cs
  src/ImageSharp/Processing/Extensions/Convolution/GaussianBlurExtensions.cs
  src/ImageSharp/Processing/Extensions/Convolution/GaussianSharpenExtensions.cs
  src/ImageSharp/Processing/Processors/Convolution/BorderWrappingMode.cs
  src/ImageSharp/Processing/Processors/Convolution/BoxBlurProcessor.cs
  src/ImageSharp/Processing/Processors/Convolution/BoxBlurProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Convolution/Convolution2PassProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Convolution/GaussianBlurProcessor.cs
  src/ImageSharp/Processing/Processors/Convolution/GaussianBlurProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Convolution/GaussianSharpenProcessor.cs
  src/ImageSharp/Processing/Processors/Convolution/GaussianSharpenProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Convolution/KernelSamplingMap.cs
  tests/ImageSharp.Tests/Memory/Buffer2DTests.SwapOrCopyContent.cs
  tests/ImageSharp.Tests/Processing/Convolution/KernelSamplingMapTest.cs
Labels: enhancement, API

#2101 Use ReadOnlySpan<byte> static data compiler optimization in more places
  src/ImageSharp/Formats/Webp/Lossy/QuantEnc.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Matrix.cs
Labels: formats:webp
