Repository SixLabors/ImageSharp, pull requests merged in 2022-02, with the labels that each got.

#1970 Disable RentReturnRelease_SubsequentRentReturnsDifferentHandles on Mac again
  tests/ImageSharp.Tests/Memory/Allocators/UniformUnmanagedMemoryPoolTests.cs
Labels: unit tests, platform:macos

#1971 Add support for encoding lossy webp images with alpha channels
  src/ImageSharp/Formats/Webp/AlphaEncoder.cs
  src/ImageSharp/Formats/Webp/BitWriter/BitWriterBase.cs
  src/ImageSharp/Formats/Webp/BitWriter/Vp8BitWriter.cs
  src/ImageSharp/Formats/Webp/IWebpEncoderOptions.cs
  src/ImageSharp/Formats/Webp/Lossless/Vp8LEncoder.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Encoder.cs
  src/ImageSharp/Formats/Webp/Lossy/YuvConversion.cs
  src/ImageSharp/Formats/Webp/WebpEncoder.cs
  src/ImageSharp/Formats/Webp/WebpEncoderCore.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpEncoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/transparency.png
Labels: formats:webp

#1974 Fixed IDisposable leaks in jpeg decoder test suite.
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/DecodeJpegParseStreamOnly.cs
  tests/ImageSharp.Tests/Formats/Jpg/SpectralJpegTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/SpectralToPixelConversionTests.cs
Labels: unit tests, formats:jpeg

#1976 Convert OrientationMode into something usable.
  .github/workflows/build-and-test.yml
  src/ImageSharp/ImageSharp.csproj
  src/ImageSharp/Metadata/Profiles/Exif/Values/ExifOrientationMode.cs
  src/ImageSharp/Processing/Processors/Transforms/Linear/AutoOrientProcessor{TPixel}.cs
  tests/ImageSharp.Tests/Processing/Processors/Transforms/AutoOrientTests.cs
Labels: enhancement, metadata:exif

#1979 Fixed decoding grayscale jpegs with exotic sampling factors
  src/ImageSharp/Formats/Jpeg/Components/Decoder/HuffmanScanDecoder.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Images.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/External/ReferenceOutput/JpegDecoderTests/DecodeBaselineJpeg_grayscale_sampling22.png
  tests/Images/Input/Jpg/baseline/grayscale_sampling22.jpg
Labels: bug, formats:jpeg

#1980 Handle missing global color table.
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Gif/GifDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/External/ReferenceOutput/GifDecoderTests/Issue1962_Rgba32_issue1962_tiniest_gif_1st.png
  tests/Images/Input/Gif/issues/issue1962_tiniest_gif_1st.gif
Labels: bug, formats:gif

#1981 Fix documentation of HorizontalResolution and VerticalResolution properties
  src/ImageSharp/Metadata/ImageMetadata.cs
Labels: documentation, API

#1993 Add TIFF CcittGroup4Fax (T6) compression
  src/ImageSharp/Formats/Tiff/Compression/Compressors/T4BitCompressor.cs
  src/ImageSharp/Formats/Tiff/Compression/Compressors/T6BitCompressor.cs
  src/ImageSharp/Formats/Tiff/Compression/Compressors/TiffCcittCompressor.cs
  src/ImageSharp/Formats/Tiff/Compression/TiffCompressorFactory.cs
  src/ImageSharp/Formats/Tiff/Constants/TiffCompression.cs
  src/ImageSharp/Formats/Tiff/README.md
  src/ImageSharp/Formats/Tiff/TiffEncoderEntriesCollector.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffBiColorWriter{TPixel}.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderTests.cs
Labels: formats:tiff

#2000 Fixed multiple SpectralConverter.CommitConversion() calls
  src/ImageSharp/Formats/Jpeg/Components/Decoder/HuffmanScanDecoder.cs
Labels: formats:jpeg

#2020 PNG: Throw exception, if palette chunk is missing
  src/ImageSharp/Formats/Png/PngScanlineProcessor.cs
  src/ImageSharp/Formats/Png/PngThrowHelper.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/missing_plte.png
  tests/Images/Input/Png/missing_plte_2.png
Labels: formats:png

#2014 Gif decoder. Fix memory access violations.
  ImageSharp.sln
  src/ImageSharp/Common/Extensions/StreamExtensions.cs
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  src/ImageSharp/Formats/Gif/GifEncoderCore.cs
  src/ImageSharp/Formats/Gif/LzwDecoder.cs
  src/ImageSharp/Formats/Gif/Sections/GifGraphicControlExtension.cs
  src/ImageSharp/Formats/Gif/Sections/GifNetscapeLoopingApplicationExtension.cs
  src/ImageSharp/Formats/Gif/Sections/GifXmpApplicationExtension.cs
  src/ImageSharp/Metadata/ImageMetadata.cs
  tests/ImageSharp.Tests/Formats/Gif/GifDecoderTests.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpMetaDataTests.cs
  tests/ImageSharp.Tests/Metadata/Profiles/XMP/XmpProfileTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/External/ReferenceOutput/GifDecoderTests/Issue2012EmptyXmp_Rgba32_issue2012_Stronghold-Crusader-Extreme-Cover.png
  tests/Images/External/ReferenceOutput/GifDecoderTests/IssueDeferredClearCode_Rgba32_bugzilla-55918.png
  tests/Images/Input/Gif/issues/bugzilla-55918.gif
  tests/Images/Input/Gif/issues/issue2012_Stronghold-Crusader-Extreme-Cover.gif
  tests/Images/Input/Gif/issues/issue2012_drona1.gif
Labels: bug, formats:gif, metadata:xmp

#2021 PNG: Ignore invalid gamma chunks
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/length_gama.png
Labels: formats:png

#1987 Optimize Crc32 for arm
  src/ImageSharp/Compression/Zlib/Crc32.cs
  tests/ImageSharp.Tests/Formats/Png/Crc32Tests.cs
  tests/ImageSharp.Tests/TestUtilities/FeatureTesting/FeatureTestRunner.cs
  tests/ImageSharp.Tests/TestUtilities/Tests/FeatureTestRunnerTests.cs
Labels: formats:png, arch:arm32, arch:arm64

#2019 Fix issue in PNG identify method to skip "uninteresting" chunks, incl…
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
Labels: formats:png

#2013 Tiff Decoder option to decode only first frame
  src/ImageSharp/Formats/Gif/GifDecoder.cs
  src/ImageSharp/Formats/Tiff/ITiffDecoderOptions.cs
  src/ImageSharp/Formats/Tiff/README.md
  src/ImageSharp/Formats/Tiff/TiffDecoder.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/SKC1H3.tiff
Labels: formats:tiff

#2028 PNG: Add SSE/AVX version of Sub, Up, Average and Paethfilters
  src/ImageSharp/Formats/Png/Filters/AverageFilter.cs
  src/ImageSharp/Formats/Png/Filters/PaethFilter.cs
  src/ImageSharp/Formats/Png/Filters/SubFilter.cs
  src/ImageSharp/Formats/Png/Filters/UpFilter.cs
  tests/ImageSharp.Benchmarks/Codecs/Png/DecodeFilteredPng.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderFilterTests.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderFilterTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/AverageFilter4Bpp.png
  tests/Images/Input/Png/PaethFilter4Bpp.png
  tests/Images/Input/Png/SubFilter4Bpp.png
Labels: area:performance, formats:png

#2024 Add AVX2 version of adler32
  src/ImageSharp/Compression/Zlib/Adler32.cs
  tests/ImageSharp.Tests/Formats/Png/Adler32Tests.cs
Labels: area:performance, formats:png
