Repository SixLabors/ImageSharp, pull requests merged in 2022-06, with the labels that each got.

#2147 Skip invalid markers during jpeg decoding
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegBitReader.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/Issue2136-scan-segment-extraneous-bytes.jpg
Labels: formats:jpeg

#2150 Fix regression in TIF image loading
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/T6TiffCompression.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/Issues/Group4CompressionWithStrips.tiff
Labels: bug, formats:tiff

#2122 Used inline SIMD vectors if they are constants
  src/ImageSharp/Formats/Jpeg/Components/Block8x8F.Intrinsic.cs
  src/ImageSharp/Formats/Jpeg/Components/FastFloatingPointDCT.Intrinsic.cs
  src/ImageSharp/Formats/Webp/Lossless/ColorSpaceTransformUtils.cs
  src/ImageSharp/Formats/Webp/Lossless/LosslessUtils.cs
  src/ImageSharp/Formats/Webp/Lossy/LossyUtils.cs
  src/ImageSharp/Formats/Webp/Lossy/QuantEnc.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Encoding.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Histogram.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Residual.cs
  src/ImageSharp/Formats/Webp/Lossy/YuvConversion.cs
  src/ImageSharp/Formats/Webp/WebpCommonUtils.cs
Labels: area:performance
