Repository SixLabors/ImageSharp, pull requests merged in 2022-08, with the labels that each got.

#2197 TGA Encoder/Decoder Improvements
  src/ImageSharp/Formats/Tga/TgaDecoderCore.cs
  src/ImageSharp/Formats/Tga/TgaEncoderCore.cs
  tests/ImageSharp.Tests/Formats/Tga/TgaDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tga/TgaEncoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tga/Github_RLE_legacy.tga
  tests/Images/Input/Tga/whitestripes.png
Labels: formats:tga

#2201 Tiff: Make sure 1 Bit compression is only used with 1 bit pixel type
  src/ImageSharp/Formats/Tiff/TiffEncoderCore.cs
Labels: unit tests, formats:tiff

#2213 Fix IPTC tags written on jpg files that contains non-English characters can't be correctly displayed on external apps #2212
  src/ImageSharp/Metadata/Profiles/IPTC/IptcProfile.cs
  src/ImageSharp/Metadata/Profiles/IPTC/IptcRecordNumber.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegEncoderTests.Metadata.cs
  tests/ImageSharp.Tests/Metadata/Profiles/IPTC/IptcProfileTests.cs
Labels: area:metadata, metadata:iptc

#2215 Identify transparency for indexed PNG correctly
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/issues/Issue_2209.png
Labels: formats:png, area:metadata
