Repository SixLabors/ImageSharp, pull requests merged in 2023-12, with the labels that each got.

#2598 Read resolution from EXIF metadata in WebP
  src/ImageSharp/Formats/Webp/WebpDecoderCore.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpDecoderTests.cs
Labels: metadata:exif, formats:webp

#2599 Use source length as bounds when unpacking RGB planes
  src/ImageSharp/PixelFormats/PixelImplementations/PixelOperations/Rgb24.PixelOperations.cs
  src/ImageSharp/PixelFormats/PixelOperations{TPixel}.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegEncoderTests.cs
Labels: bug, formats:jpeg

#2607 Handle dedup of local palette of 256 length - Main
  src/ImageSharp/Formats/Gif/GifEncoderCore.cs
  src/ImageSharp/Formats/Gif/MetadataExtensions.cs
  src/ImageSharp/Formats/Webp/BitReader/Vp8LBitReader.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Gif/18-bit_RGB_Cube.gif
Labels: bug, formats:gif

#2611 Replace custom Crc32
  src/ImageSharp/Compression/Zlib/Crc32.Lut.cs
  src/ImageSharp/Compression/Zlib/Crc32.cs
  src/ImageSharp/Compression/Zlib/fast-crc-computation-generic-polynomials-pclmulqdq-paper.pdf
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  src/ImageSharp/ImageSharp.csproj
  tests/ImageSharp.Benchmarks/Bulk/FromVector4.cs
  tests/ImageSharp.Benchmarks/Bulk/FromVector4_Rgb24.cs
  tests/ImageSharp.Benchmarks/Bulk/ToVector4_Bgra32.cs
  tests/ImageSharp.Benchmarks/Bulk/ToVector4_Rgb24.cs
  tests/ImageSharp.Benchmarks/Bulk/ToVector4_Rgba32.cs
  tests/ImageSharp.Benchmarks/Codecs/Bmp/DecodeBmp.cs
  tests/ImageSharp.Benchmarks/Codecs/Bmp/EncodeBmp.cs
  tests/ImageSharp.Benchmarks/Codecs/Bmp/EncodeBmpMultiple.cs
  tests/ImageSharp.Benchmarks/Codecs/Gif/DecodeGif.cs
  tests/ImageSharp.Benchmarks/Codecs/Gif/EncodeGif.cs
  tests/ImageSharp.Benchmarks/Codecs/Gif/EncodeGifMultiple.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/CmykColorConversion.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/GrayscaleColorConversion.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/RgbColorConversion.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/YCbCrColorConversion.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/YccKColorConverter.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/DecodeJpegParseStreamOnly.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/DecodeJpeg_Aggregate.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/DecodeJpeg_ImageSpecific.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/IdentifyJpeg.cs
  tests/ImageSharp.Benchmarks/Codecs/Png/DecodeFilteredPng.cs
  tests/ImageSharp.Benchmarks/Codecs/Png/DecodePng.cs
  tests/ImageSharp.Benchmarks/Codecs/Png/EncodeIndexedPng.cs
  tests/ImageSharp.Benchmarks/Codecs/Png/EncodePng.cs
  tests/ImageSharp.Benchmarks/Codecs/Tga/DecodeTga.cs
  tests/ImageSharp.Benchmarks/Codecs/Tga/EncodeTga.cs
  tests/ImageSharp.Benchmarks/Codecs/Tiff/DecodeTiff.cs
  tests/ImageSharp.Benchmarks/Codecs/Tiff/EncodeTiff.cs
  tests/ImageSharp.Benchmarks/Codecs/Webp/DecodeWebp.cs
  tests/ImageSharp.Benchmarks/Codecs/Webp/EncodeWebp.cs
  tests/ImageSharp.Benchmarks/Config.HwIntrinsics.cs
  tests/ImageSharp.Benchmarks/Config.cs
  tests/ImageSharp.Benchmarks/General/Adler32Benchmark.cs
  tests/ImageSharp.Benchmarks/General/CopyBuffers.cs
  tests/ImageSharp.Benchmarks/General/Crc32Benchmark.cs
  tests/ImageSharp.Benchmarks/General/IO/BufferedStreams.cs
  tests/ImageSharp.Benchmarks/General/Vectorization/UInt32ToSingle.cs
  tests/ImageSharp.Benchmarks/General/Vectorization/WidenBytesToUInt32.cs
  tests/ImageSharp.Benchmarks/Processing/BokehBlur.cs
  tests/ImageSharp.Benchmarks/Processing/Crop.cs
  tests/ImageSharp.Benchmarks/Processing/DetectEdges.cs
  tests/ImageSharp.Benchmarks/Processing/Diffuse.cs
  tests/ImageSharp.Benchmarks/Processing/GaussianBlur.cs
  tests/ImageSharp.Benchmarks/Processing/HistogramEqualization.cs
  tests/ImageSharp.Benchmarks/Processing/OilPaint.cs
  tests/ImageSharp.Benchmarks/Processing/Resize.cs
  tests/ImageSharp.Benchmarks/Processing/Rotate.cs
  tests/ImageSharp.Benchmarks/Processing/Skew.cs
  tests/ImageSharp.Tests/Formats/Png/Crc32Tests.cs
Labels: area:performance, formats:png

#2615 Fix handling gif encoding for global palettes - Main
  src/ImageSharp/Formats/Gif/GifEncoderCore.cs
  src/ImageSharp/Formats/Gif/MetadataExtensions.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Gif/global-256-no-trans.gif
Labels: bug, formats:gif

#2618 Fix Paeth Filter decode on platforms that do not support Ssse3
  src/ImageSharp/Formats/Png/Filters/PaethFilter.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderFilterTests.cs
Labels: bug, formats:png

#2623 Adjusted the casing of the Webp format name
  src/ImageSharp/Formats/Webp/WebpFormat.cs
Labels: formats:webp

#2620 Fix Paeth Filter decode on platforms that do not support Ssse3 - Main
  src/ImageSharp/Formats/Png/Filters/PaethFilter.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderFilterTests.cs
Labels: bug, formats:png
