Repository SixLabors/ImageSharp, pull requests merged in 2023-03, with the labels that each got.

#2363 Support frames metadata for Identify
  .github/workflows/build-and-test.yml
  src/ImageSharp/Formats/Bmp/BmpDecoderCore.cs
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  src/ImageSharp/Formats/Gif/LzwDecoder.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Pbm/PbmDecoderCore.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Tga/TgaDecoderCore.cs
  src/ImageSharp/Formats/Tiff/Constants/TiffInkSet.cs
  src/ImageSharp/Formats/Tiff/Constants/TiffPhotometricInterpretation.cs
  src/ImageSharp/Formats/Tiff/Ifd/DirectoryReader.cs
  src/ImageSharp/Formats/Tiff/README.md
  src/ImageSharp/Formats/Tiff/TiffBitsPerPixel.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderMetadataCreator.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffFrameMetadata.cs
  src/ImageSharp/Formats/Tiff/TiffMetadata.cs
  src/ImageSharp/Formats/Webp/WebpDecoderCore.cs
  src/ImageSharp/Image.cs
  src/ImageSharp/ImageFrameCollectionExtensions.cs
  src/ImageSharp/ImageInfo.cs
  tests/ImageSharp.Tests/Formats/Gif/GifMetadataTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Metadata.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffMetadataTests.cs
  tests/ImageSharp.Tests/ImageInfoTests.cs
  tests/ImageSharp.Tests/TestFormat.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/ImageSharp.Tests/TestUtilities/ReferenceCodecs/MagickReferenceDecoder.cs
  tests/ImageSharp.Tests/TestUtilities/ReferenceCodecs/SystemDrawingReferenceDecoder.cs
  tests/ImageSharp.Tests/TestUtilities/Tests/TestImageProviderTests.cs
  tests/Images/Input/Tiff/cmyk_deflate_64bit.tiff
Labels: formats:gif, formats:tiff, area:metadata, breaking

#2397 Add Arm intrinsics to JpegColorConverter RGB
  .github/workflows/build-and-test.yml
  src/ImageSharp/Formats/Jpeg/Components/ColorConverters/JpegColorConverter.RgbArm.cs
  src/ImageSharp/Formats/Jpeg/Components/ColorConverters/JpegColorConverterArm.cs
  src/ImageSharp/Formats/Jpeg/Components/ColorConverters/JpegColorConverterBase.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/RgbColorConversion.cs
  tests/ImageSharp.Tests/PixelFormats/PixelBlenders/PorterDuffFunctionsTests.cs
Labels: arch:arm32, arch:arm64

#2400 Add arm64 intrinsics for cmyk converter
  README.md
  src/ImageSharp/Formats/Jpeg/Components/ColorConverters/JpegColorConverter.CmykArm64.cs
  src/ImageSharp/Formats/Jpeg/Components/ColorConverters/JpegColorConverterArm64.cs
  src/ImageSharp/Formats/Jpeg/Components/ColorConverters/JpegColorConverterBase.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/CmykColorConversion.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegColorConverterTests.cs
Labels: arch:arm32, arch:arm64

#2412 Webp: Dont use using statement for encodedAlphaData
  src/ImageSharp/Formats/Webp/Lossy/Vp8Encoder.cs
Labels: formats:webp

#2413 Fixed wrong division hack
  src/ImageSharp/Formats/Webp/Lossless/LosslessUtils.cs
Labels: bug, formats:webp, arch:arm64

#2409 Port GrayscalConverter to Arm
  src/ImageSharp/Common/Helpers/SimdUtils.HwIntrinsics.cs
  src/ImageSharp/Formats/Jpeg/Components/ColorConverters/JpegColorConverter.GrayScaleArm.cs
  src/ImageSharp/Formats/Jpeg/Components/ColorConverters/JpegColorConverterBase.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/GrayscaleColorConversion.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegColorConverterTests.cs
Labels: arch:arm64

#2416 Fix RgbScalar
  src/ImageSharp/Formats/Jpeg/Components/ColorConverters/JpegColorConverterBase.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegColorConverterTests.cs
Labels: bug, formats:jpeg, arch:arm64

#2417 Port colorconverter YCbCr and YCCk to arm
  src/ImageSharp/Formats/Jpeg/Components/ColorConverters/JpegColorConverter.YCbCrArm.cs
  src/ImageSharp/Formats/Jpeg/Components/ColorConverters/JpegColorConverter.YccKArm64.cs
  src/ImageSharp/Formats/Jpeg/Components/ColorConverters/JpegColorConverterBase.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/YCbCrColorConversion.cs
  tests/ImageSharp.Benchmarks/Codecs/Jpeg/ColorConversion/YccKColorConverter.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegColorConverterTests.cs
Labels: formats:jpeg, arch:arm32, arch:arm64

#2424 More tests for Webp lossless utils
  tests/ImageSharp.Tests/Formats/WebP/LosslessUtilsTests.cs
Labels: unit tests, formats:webp
