Repository SixLabors/ImageSharp, pull requests merged in 2023-10, with the labels that each got.

#2485 Expose and conserve the color palette for indexed png images.
  src/ImageSharp/Color/Color.cs
  src/ImageSharp/Formats/Png/PngDecoder.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoder.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  src/ImageSharp/Formats/Png/PngMetadata.cs
  src/ImageSharp/Formats/Png/PngScanlineProcessor.cs
  src/ImageSharp/Memory/Buffer2D{T}.cs
  src/ImageSharp/Processing/Processors/Quantization/WuQuantizer{TPixel}.cs
  tests/ImageSharp.Tests/Color/ColorTests.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Png/PngEncoderTests.cs
Labels: enhancement, formats:png, breaking

#2514 Expose non-nullable configuration to remove AOT limiting null check
  src/ImageSharp/Advanced/AdvancedImageExtensions.cs
  src/ImageSharp/Advanced/IConfigurationProvider.cs
  src/ImageSharp/Formats/Bmp/BmpEncoder.cs
  src/ImageSharp/Formats/Bmp/BmpEncoderCore.cs
  src/ImageSharp/Formats/Gif/GifEncoder.cs
  src/ImageSharp/Formats/Gif/GifEncoderCore.cs
  src/ImageSharp/Formats/ImageEncoder.cs
  src/ImageSharp/Formats/ImageExtensions.Save.cs
  src/ImageSharp/Formats/ImageExtensions.Save.tt
  src/ImageSharp/Formats/Jpeg/Components/Encoder/JpegFrame.cs
  src/ImageSharp/Formats/Jpeg/Components/Encoder/SpectralConverter{TPixel}.cs
  src/ImageSharp/Formats/Pbm/PbmEncoder.cs
  src/ImageSharp/Formats/Pbm/PbmEncoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoder.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  src/ImageSharp/Formats/Qoi/QoiEncoder.cs
  src/ImageSharp/Formats/Qoi/QoiEncoderCore.cs
  src/ImageSharp/Formats/Tga/TgaEncoder.cs
  src/ImageSharp/Formats/Tga/TgaEncoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffEncoder.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderCore.cs
  src/ImageSharp/Formats/Webp/Lossless/Vp8LEncoder.cs
  src/ImageSharp/Formats/Webp/WebpEncoder.cs
  src/ImageSharp/Image.cs
  src/ImageSharp/ImageExtensions.cs
  src/ImageSharp/ImageFrame.cs
  src/ImageSharp/ImageFrameCollection{TPixel}.cs
  src/ImageSharp/ImageFrame{TPixel}.cs
  src/ImageSharp/Image{TPixel}.cs
  src/ImageSharp/Metadata/Profiles/ICC/IccReader.cs
  src/ImageSharp/Processing/Extensions/ProcessingExtensions.IntegralImage.cs
  src/ImageSharp/Processing/Extensions/ProcessingExtensions.cs
  src/ImageSharp/Processing/Processors/Transforms/EntropyCropProcessor{TPixel}.cs
  tests/ImageSharp.Tests/Formats/WebP/YuvConversionTests.cs
  tests/ImageSharp.Tests/Image/ImageFrameCollectionTests.NonGeneric.cs
  tests/ImageSharp.Tests/Image/ImageTests.SaveAsync.cs
  tests/ImageSharp.Tests/Image/ImageTests.WrapMemory.cs
  tests/ImageSharp.Tests/Image/ImageTests.cs
  tests/ImageSharp.Tests/Processing/BaseImageOperationsExtensionTest.cs
  tests/ImageSharp.Tests/Processing/Processors/Convolution/BokehBlurTest.cs
  tests/ImageSharp.Tests/TestUtilities/ImageComparison/ExactImageComparer.cs
  tests/ImageSharp.Tests/TestUtilities/ImageComparison/TolerantImageComparer.cs
  tests/ImageSharp.Tests/TestUtilities/ReferenceCodecs/ImageSharpPngEncoderWithDefaultConfiguration.cs
  tests/ImageSharp.Tests/TestUtilities/ReferenceCodecs/SystemDrawingBridge.cs
  tests/ImageSharp.Tests/TestUtilities/Tests/TestImageProviderTests.cs
Labels: area:aot, breaking

#2547 Add webp decoder option to handle the background color in ANIM chunk
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/WebpTiffCompression.cs
  src/ImageSharp/Formats/Tiff/Compression/TiffDecompressorsFactory.cs
  src/ImageSharp/Formats/Webp/BackgroundColorHandling.cs
  src/ImageSharp/Formats/Webp/WebpAnimationDecoder.cs
  src/ImageSharp/Formats/Webp/WebpDecoder.cs
  src/ImageSharp/Formats/Webp/WebpDecoderCore.cs
  src/ImageSharp/Formats/Webp/WebpDecoderOptions.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Webp/issues/Issue2528.webp
Labels: formats:webp

#2550 Tiff decoding robustness improvements
  src/ImageSharp/Compression/Zlib/ZlibInflateStream.cs
  src/ImageSharp/Formats/Tiff/Ifd/DirectoryReader.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_TiledWithBadZlib_tiled-0000023664.png
  tests/Images/Input/Tiff/Issues/JpegCompressedGray-0000539558.tiff
  tests/Images/Input/Tiff/Issues/tiled-0000023664.tiff
Labels: bug, formats:tiff

#2551 PBM decoder robustness improvements and BufferedReadStream observability
  src/ImageSharp/Formats/ImageDecoderUtilities.cs
  src/ImageSharp/Formats/Pbm/BinaryDecoder.cs
  src/ImageSharp/Formats/Pbm/BufferedReadStreamExtensions.cs
  src/ImageSharp/Formats/Pbm/PbmDecoderCore.cs
  src/ImageSharp/Formats/Pbm/PlainDecoder.cs
  src/ImageSharp/IO/BufferedReadStream.cs
  tests/ImageSharp.Tests/Formats/Pbm/PbmDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Pbm/PbmMetadataTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/ImageSharp.Tests/TestUtilities/EofHitCounter.cs
  tests/Images/Input/Pbm/00000_00000_premature_eof.ppm
Labels: bug, formats:pbm
