Repository SixLabors/ImageSharp, pull requests merged in 2023-04, with the labels that each got.

#2427 Fixed invalid jpeg buffer width compliment for scalar color converters
  src/ImageSharp/Formats/Jpeg/Components/Decoder/SpectralConverter{TPixel}.cs
Labels: bug, formats:jpeg

#2436 Fix decoding tiled tiff with unequal tile width and height
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/Issues/Issue2435.tiff
Labels: bug, formats:tiff

#2432 Fix Vp8Residual costs calculation
  src/ImageSharp/Formats/Webp/Lossy/Vp8Residual.cs
  tests/ImageSharp.Tests/Formats/WebP/Vp8ResidualTests.cs
  tests/ImageSharp.Tests/ImageSharp.Tests.csproj
  tests/ImageSharp.Tests/TestDataWebp/Vp8Residual.bin
  tests/ImageSharp.Tests/TestDataWebp/Vp8Residual.json
Labels: bug, formats:webp

#2440 Fix thresholds for Resize kernel tests
  tests/ImageSharp.Tests/Formats/Gif/GifDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tga/TgaDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpDecoderTests.cs
  tests/Images/External/ReferenceOutput/PngDecoderTests/PngDecoder_Decode_Resize_ScalarResizeKernel_splash_150_150.png
Labels: unit tests, arch:arm64
