Repository SixLabors/ImageSharp, pull requests merged in 2023-11, with the labels that each got.

#2546 WebP - Reduce the allocations in lossless encoding
  src/ImageSharp/Formats/Webp/Lossless/BackwardReferenceEncoder.cs
  src/ImageSharp/Formats/Webp/Lossless/CostModel.cs
  src/ImageSharp/Formats/Webp/Lossless/HistogramEncoder.cs
  src/ImageSharp/Formats/Webp/Lossless/HuffmanUtils.cs
  src/ImageSharp/Formats/Webp/Lossless/PixOrCopy.cs
  src/ImageSharp/Formats/Webp/Lossless/Vp8LBitEntropy.cs
  src/ImageSharp/Formats/Webp/Lossless/Vp8LEncoder.cs
  src/ImageSharp/Formats/Webp/Lossless/Vp8LHistogram.cs
  src/ImageSharp/Formats/Webp/Lossless/Vp8LHistogramSet.cs
  tests/ImageSharp.Benchmarks/Codecs/Webp/EncodeWebp.cs
  tests/ImageSharp.Tests/Formats/WebP/DominantCostRangeTests.cs
  tests/ImageSharp.Tests/Formats/WebP/Vp8LHistogramTests.cs
Labels: area:performance, formats:webp

#2569 Animated webp encoder
  src/ImageSharp/Common/Helpers/RiffHelper.cs
  src/ImageSharp/Formats/Webp/AlphaDecoder.cs
  src/ImageSharp/Formats/Webp/AlphaEncoder.cs
  src/ImageSharp/Formats/Webp/AnimationFrameData.cs
  src/ImageSharp/Formats/Webp/BitWriter/BitWriterBase.cs
  src/ImageSharp/Formats/Webp/BitWriter/Vp8BitWriter.cs
  src/ImageSharp/Formats/Webp/BitWriter/Vp8LBitWriter.cs
  src/ImageSharp/Formats/Webp/Chunks/WebpAnimationParameter.cs
  src/ImageSharp/Formats/Webp/Chunks/WebpFrameData.cs
  src/ImageSharp/Formats/Webp/Chunks/WebpVp8X.cs
  src/ImageSharp/Formats/Webp/Lossless/BackwardReferenceEncoder.cs
  src/ImageSharp/Formats/Webp/Lossless/CostManager.cs
  src/ImageSharp/Formats/Webp/Lossless/PixOrCopy.cs
  src/ImageSharp/Formats/Webp/Lossless/Vp8LEncoder.cs
  src/ImageSharp/Formats/Webp/Lossless/WebpLosslessDecoder.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8EncIterator.cs
  src/ImageSharp/Formats/Webp/Lossy/Vp8Encoder.cs
  src/ImageSharp/Formats/Webp/Lossy/WebpLossyDecoder.cs
  src/ImageSharp/Formats/Webp/Lossy/YuvConversion.cs
  src/ImageSharp/Formats/Webp/WebpAnimationDecoder.cs
  src/ImageSharp/Formats/Webp/WebpBlendingMethod.cs
  src/ImageSharp/Formats/Webp/WebpChunkParsingUtils.cs
  src/ImageSharp/Formats/Webp/WebpChunkType.cs
  src/ImageSharp/Formats/Webp/WebpConstants.cs
  src/ImageSharp/Formats/Webp/WebpDecoder.cs
  src/ImageSharp/Formats/Webp/WebpDecoderCore.cs
  src/ImageSharp/Formats/Webp/WebpDecoderOptions.cs
  src/ImageSharp/Formats/Webp/WebpDisposalMethod.cs
  src/ImageSharp/Formats/Webp/WebpEncoder.cs
  src/ImageSharp/Formats/Webp/WebpEncoderCore.cs
  src/ImageSharp/Formats/Webp/WebpFormat.cs
  src/ImageSharp/Formats/Webp/WebpFrameMetadata.cs
  src/ImageSharp/Formats/Webp/WebpMetadata.cs
  src/ImageSharp/Metadata/Profiles/ICC/IccProfile.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpDecoderTests.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpEncoderTests.cs
  tests/ImageSharp.Tests/Formats/WebP/YuvConversionTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/External/ReferenceOutput/WebpEncoderTests/Encode_AnimatedLossy_Rgba32_landscape.webp
  tests/Images/External/ReferenceOutput/WebpEncoderTests/Encode_AnimatedLossy_Rgba32_leo_animated_lossy.webp
  tests/Images/Input/Webp/landscape.webp
Labels: enhancement, formats:webp

#2582 Fix boxed quantization and update refs
  src/ImageSharp/Processing/Processors/Quantization/OctreeQuantizer{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/QuantizeProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Quantization/QuantizerUtilities.cs
  src/ImageSharp/Processing/Processors/Quantization/WuQuantizer{TPixel}.cs
  tests/ImageSharp.Tests/Processing/Processors/Quantization/QuantizerTests.cs
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_Bike_OctreeQuantizer_ErrorDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_Bike_OctreeQuantizer_NoDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_Bike_OctreeQuantizer_OrderedDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_Bike_WebSafePaletteQuantizer_ErrorDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_Bike_WebSafePaletteQuantizer_NoDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_Bike_WebSafePaletteQuantizer_OrderedDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_Bike_WernerPaletteQuantizer_ErrorDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_Bike_WernerPaletteQuantizer_NoDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_Bike_WernerPaletteQuantizer_OrderedDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_Bike_WuQuantizer_ErrorDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_Bike_WuQuantizer_NoDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_Bike_WuQuantizer_OrderedDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_CalliphoraPartial_OctreeQuantizer_ErrorDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_CalliphoraPartial_OctreeQuantizer_NoDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_CalliphoraPartial_OctreeQuantizer_OrderedDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_CalliphoraPartial_WebSafePaletteQuantizer_ErrorDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_CalliphoraPartial_WebSafePaletteQuantizer_NoDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_CalliphoraPartial_WebSafePaletteQuantizer_OrderedDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_CalliphoraPartial_WernerPaletteQuantizer_ErrorDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_CalliphoraPartial_WernerPaletteQuantizer_NoDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_CalliphoraPartial_WernerPaletteQuantizer_OrderedDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_CalliphoraPartial_WuQuantizer_ErrorDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_CalliphoraPartial_WuQuantizer_NoDither.png
  tests/Images/External/ReferenceOutput/QuantizerTests/ApplyQuantizationInBox_CalliphoraPartial_WuQuantizer_OrderedDither.png
Labels: bug, area:quantizers

#2590 Explicitly set BitsPerPixel and BitsPerSample to 1 for bicolor compressed images
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Tiff/Issues/Issue2587.tiff
Labels: formats:tiff

#2561 Png- Do not attempt to read data for chunks of length 0.
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/issues/flag_of_germany-0000016446.png
Labels: formats:png

#2594 Confirm we can correctly decode jpegs with malformed D0-D7 chunks.
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/issue2517-bad-d7.jpg
Labels: unit tests, formats:jpeg
