Repository SixLabors/ImageSharp, pull requests merged in 2024-08, with the labels that each got.

#2789 Tiff decoder: Fix issue 2679
  src/ImageSharp/Formats/Tiff/TiffDecoderOptionsParser.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/External/ReferenceOutput/TiffDecoderTests/TiffDecoder_CanDecode_JpegCompressedWithIssue2679_Issue2679.png
  tests/Images/Input/Tiff/Issues/Issue2679.tiff
Labels: formats:tiff

#2786 Replace PngCrcChunkHandling
  src/ImageSharp/Formats/DecoderOptions.cs
  src/ImageSharp/Formats/Png/PngChunk.cs
  src/ImageSharp/Formats/Png/PngCrcChunkHandling.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/PngDecoderOptions.cs
  src/ImageSharp/Formats/SegmentIntegrityHandling.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
Labels: API, breaking

#2787 Add tagname to debugger visualization for Exif- and Iptc-values, to facilitate easier debugging and discovery
  src/ImageSharp/Metadata/Profiles/Exif/Values/ExifValue.cs
  src/ImageSharp/Metadata/Profiles/IPTC/IptcValue.cs
Labels: metadata:exif

#2788 Allow decoding Tiff of different frame size.
  src/ImageSharp/Formats/AnimatedImageFrameMetadata.cs
  src/ImageSharp/Formats/AnimatedImageMetadata.cs
  src/ImageSharp/Formats/Bmp/BmpMetadata.cs
  src/ImageSharp/Formats/Cur/CurDecoderCore.cs
  src/ImageSharp/Formats/Cur/CurFrameMetadata.cs
  src/ImageSharp/Formats/Cur/CurMetadata.cs
  src/ImageSharp/Formats/Gif/GifEncoderCore.cs
  src/ImageSharp/Formats/Gif/GifFrameMetadata.cs
  src/ImageSharp/Formats/Gif/GifMetadata.cs
  src/ImageSharp/Formats/IFormatFrameMetadata.cs
  src/ImageSharp/Formats/IFormatMetadata.cs
  src/ImageSharp/Formats/Ico/IcoDecoderCore.cs
  src/ImageSharp/Formats/Ico/IcoFrameMetadata.cs
  src/ImageSharp/Formats/Ico/IcoMetadata.cs
  src/ImageSharp/Formats/Jpeg/JpegMetadata.cs
  src/ImageSharp/Formats/Pbm/PbmMetadata.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  src/ImageSharp/Formats/Png/PngFrameMetadata.cs
  src/ImageSharp/Formats/Png/PngMetadata.cs
  src/ImageSharp/Formats/Qoi/QoiMetadata.cs
  src/ImageSharp/Formats/Tga/TgaMetadata.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderEntriesCollector.cs
  src/ImageSharp/Formats/Tiff/TiffFrameMetadata.cs
  src/ImageSharp/Formats/Tiff/TiffMetadata.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffBaseColorWriter{TPixel}.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffBiColorWriter{TPixel}.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffColorWriterFactory.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffCompositeColorWriter{TPixel}.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffGrayL16Writer{TPixel}.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffGrayWriter{TPixel}.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffPaletteWriter{TPixel}.cs
  src/ImageSharp/Formats/Tiff/Writers/TiffRgbWriter{TPixel}.cs
  src/ImageSharp/Formats/Webp/WebpEncoderCore.cs
  src/ImageSharp/Formats/Webp/WebpFrameMetadata.cs
  src/ImageSharp/Formats/Webp/WebpMetadata.cs
  src/ImageSharp/Image.cs
  src/ImageSharp/ImageFrame.cs
  src/ImageSharp/ImageFrameCollection{TPixel}.cs
  src/ImageSharp/ImageFrame{TPixel}.cs
  src/ImageSharp/Image{TPixel}.cs
  src/ImageSharp/Metadata/ImageFrameMetadata.cs
  src/ImageSharp/Metadata/ImageMetadata.cs
  src/ImageSharp/Metadata/Profiles/Exif/ExifProfile.cs
  src/ImageSharp/Processing/Processors/CloningImageProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Convolution/BokehBlurProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Convolution/Convolution2PassProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Convolution/ConvolutionProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Effects/OilPaintingProcessor{TPixel}.cs
  src/ImageSharp/Processing/Processors/Transforms/TransformProcessorHelpers.cs
  src/ImageSharp/Processing/Processors/Transforms/TransformProcessor{TPixel}.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderMultiframeTests.cs
  tests/ImageSharp.Tests/Formats/Tiff/TiffEncoderTests.cs
  tests/ImageSharp.Tests/Processing/Transforms/TransformsHelpersTest.cs
  tests/ImageSharp.Tests/TestUtilities/ImageComparison/ExactImageComparer.cs
  tests/ImageSharp.Tests/TestUtilities/ImageComparison/TolerantImageComparer.cs
Labels: formats:tiff, area:metadata, breaking
