Repository SixLabors/ImageSharp, pull requests merged in 2024-03, with the labels that each got.

#2681 Limit ancillary PNG chunk size.
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/PngDecoderOptions.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/issues/bad-ztxt.png
  tests/Images/Input/Png/issues/bad-ztxt2.png
Labels: enhancement, formats:png, security

#2688 Backport 2681
  src/Directory.Build.props
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
Labels: bug, formats:png, security

#2690 Merge 2681 to v4 Main
  .github/workflows/build-and-test.yml
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/PngDecoderOptions.cs
  src/ImageSharp/Formats/Webp/AlphaDecoder.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/issues/bad-ztxt.png
  tests/Images/Input/Png/issues/bad-ztxt2.png
Labels: bug, area:performance, arch:arm64

#2641 Add JPEG COM marker support
  ImageSharp.sln
  src/ImageSharp/Formats/Jpeg/JpegComData.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Jpeg/JpegEncoderCore.cs
  src/ImageSharp/Formats/Jpeg/JpegMetadata.cs
  src/ImageSharp/Formats/Jpeg/MetadataExtensions.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Metadata.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegEncoderTests.Metadata.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegMetadataTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/issue-2067-comment.jpg
Labels: formats:jpeg

#2701 Only exit JPEG scan decoding after multiple EOF hits
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegBitReader.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/Issue2638.jpg
Labels: bug, formats:jpeg

#2702 Backport - Only exit JPEG scan decoding after multiple EOF hits
  src/ImageSharp/Formats/Jpeg/Components/Decoder/JpegBitReader.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Jpg/issues/Issue2638.jpg
Labels: bug, formats:jpeg
