Repository SixLabors/ImageSharp, pull requests merged in 2024-07, with the labels that each got.

#2759 v3.1.x Fix 2758
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  src/ImageSharp/Formats/Gif/LzwDecoder.cs
  src/ImageSharp/Formats/Jpeg/Components/Quantization.cs
  tests/ImageSharp.Tests/Formats/Gif/GifDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Metadata.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/External/ReferenceOutput/GifDecoderTests/Issue2012BadMinCode_Rgba32_issue2012_drona1.png
  tests/Images/External/ReferenceOutput/GifDecoderTests/Issue2758_BadDescriptorDimensions_Rgba32_issue_2758.gif/00.png
  tests/Images/External/ReferenceOutput/GifDecoderTests/Issue2758_BadDescriptorDimensions_Rgba32_issue_2758.gif/01.png
  tests/Images/External/ReferenceOutput/GifDecoderTests/IssueTooLargeLzwBits_Rgba32_issue_2743.gif/07.png
  tests/Images/Input/Gif/issues/issue_2758.gif
  tests/Images/Input/Jpg/issues/issue-2758.jpg
Labels: bug, formats:jpeg, formats:gif, security

#2764 v4 Fix 2758
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  src/ImageSharp/Formats/Gif/LzwDecoder.cs
  src/ImageSharp/Formats/Jpeg/Components/Quantization.cs
  tests/ImageSharp.Tests/Formats/Gif/GifDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.Metadata.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/External/ReferenceOutput/GifDecoderTests/Issue2012BadMinCode_Rgba32_issue2012_drona1.png
  tests/Images/External/ReferenceOutput/GifDecoderTests/Issue2758_BadDescriptorDimensions_Rgba32_issue_2758.gif/00.png
  tests/Images/External/ReferenceOutput/GifDecoderTests/Issue2758_BadDescriptorDimensions_Rgba32_issue_2758.gif/01.png
  tests/Images/External/ReferenceOutput/GifDecoderTests/IssueTooLargeLzwBits_Rgba32_issue_2743.gif/07.png
  tests/Images/Input/Gif/issues/issue_2758.gif
  tests/Images/Input/Jpg/issues/issue-2758.jpg
Labels: bug, formats:jpeg, formats:gif, security

#2767 Webp: Fix Issue 2763
  src/ImageSharp/Formats/Webp/Lossless/Vp8LEncoder.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpEncoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Webp/issues/Issue2763.png
Labels: bug, formats:webp

#2768 v3.1.x - Backport Webp: Fix Issue 2763/2692
  src/ImageSharp/Formats/Webp/Lossless/Vp8LEncoder.cs
  src/ImageSharp/Formats/Webp/WebpChunkParsingUtils.cs
  tests/ImageSharp.Tests/Formats/WebP/WebpEncoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Webp/issues/Issue2763.png
Labels: bug, formats:webp

#2769 Correctly break during Png decoding
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  tests/ImageSharp.Tests/Formats/Png/PngDecoderTests.cs
  tests/ImageSharp.Tests/TestImages.cs
  tests/Images/Input/Png/issues/Issue_2752.png
Labels: bug, formats:png

#2775 Fix filtering on PNG encode.
  src/ImageSharp/Formats/Png/Filters/AverageFilter.cs
  src/ImageSharp/Formats/Png/Filters/SubFilter.cs
  src/ImageSharp/Formats/Png/Filters/UpFilter.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
Labels: bug, formats:png

#2778 V4 : Fix filtering on PNG encode.
  src/ImageSharp/Formats/Png/Filters/AverageFilter.cs
  src/ImageSharp/Formats/Png/Filters/SubFilter.cs
  src/ImageSharp/Formats/Png/Filters/UpFilter.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
Labels: bug, formats:png

#2762 Mono AOT decoder workaround for slow jpeg decoding.
  src/ImageSharp/Advanced/AotCompilerTools.cs
  src/ImageSharp/Formats/Bmp/BmpDecoderCore.cs
  src/ImageSharp/Formats/Bmp/BmpEncoderCore.cs
  src/ImageSharp/Formats/Gif/GifDecoderCore.cs
  src/ImageSharp/Formats/Gif/GifEncoderCore.cs
  src/ImageSharp/Formats/IImageDecoderInternals.cs
  src/ImageSharp/Formats/IImageEncoderInternals.cs
  src/ImageSharp/Formats/ImageDecoder.cs
  src/ImageSharp/Formats/ImageDecoderCore.cs
  src/ImageSharp/Formats/ImageDecoderUtilities.cs
  src/ImageSharp/Formats/ImageEncoder.cs
  src/ImageSharp/Formats/Jpeg/JpegDecoderCore.cs
  src/ImageSharp/Formats/Jpeg/JpegEncoderCore.cs
  src/ImageSharp/Formats/Pbm/PbmDecoderCore.cs
  src/ImageSharp/Formats/Pbm/PbmEncoderCore.cs
  src/ImageSharp/Formats/Png/PngDecoderCore.cs
  src/ImageSharp/Formats/Png/PngEncoderCore.cs
  src/ImageSharp/Formats/Qoi/QoiDecoderCore.cs
  src/ImageSharp/Formats/Qoi/QoiEncoderCore.cs
  src/ImageSharp/Formats/Tga/TgaDecoderCore.cs
  src/ImageSharp/Formats/Tga/TgaEncoderCore.cs
  src/ImageSharp/Formats/Tiff/Compression/Decompressors/WebpTiffCompression.cs
  src/ImageSharp/Formats/Tiff/TiffDecoderCore.cs
  src/ImageSharp/Formats/Tiff/TiffEncoderCore.cs
  src/ImageSharp/Formats/Webp/WebpDecoderCore.cs
  src/ImageSharp/Formats/Webp/WebpEncoderCore.cs
  tests/ImageSharp.Tests/Formats/Jpg/JpegDecoderTests.cs
  tests/ImageSharp.Tests/Formats/Jpg/Utils/JpegFixture.cs
Labels: platform:mono, platform:ios, area:aot, platform:android
